[2017-09-24 05:25] alanhogan commented on #388
By maintaining a the same renderer but setting the plugins property, I was able to do what I was trying to do originally: https://www.webpackbin.com/bins/-KumIr9tpOdzqccC-rMs
And of course, slightly less stupid is directly `push`ing/`pop`ing the plugins array on the renderer: https://www.webpackbin.com/bins/-KumL3WRNGQGKkw3L8iu

[2017-09-24 05:26] alanhogan commented on #388
I didn't see any mention of `plugins` besides the `config` instantiation of the renderer in the docs, FYI.

[2017-09-24 22:01] steida opened #393 "Fela broke everything again"
💩

[2017-09-24 23:03] #393 closed

[2017-09-25 08:23] aaronschubert0 opened #394 "Bug: Theme prop is passed without use of ThemeProvider component"
**Version**: 6.0.0
**Environment**:  Both
**Type**: Bug
-------------------
#### Description
Upgraded to fela 6.0.0 on our project (`fela`,`react-fela`,`fela-dom`). After upgrading these packages, a new prop `theme: {}` is present when connecting a component using `connect`. From reading the docs, it is my understanding that this should only occur when a [Theme Provider](https://github.com/rofrisc

[2017-09-25 08:53] rofrischmann commented on #394
This is actually just a bug. The theme should not passed down, but an empty theme is present everywhere :P

[2017-09-25 09:08] aaronschubert0 commented on #394
@rofrischmann Ah, awesome, thanks for confirming that. Is it a straightforward fix?

[2017-09-25 10:41] rofrischmann commented on #394
Yeah, will be able to fix that pretty soon. You may just go on and ignore the warning for now.

[2017-09-25 12:53] TxHawks commented on #394
Want to point me in the right direction? I may have time to take a stab at it tomorrow

[2017-09-25 12:58] vlad-zhukov opened #395 "fela-monolithic outputs classes twice"
**Version**: 6.0.x
**Environment**: Both
**Type**: Bug

-------------------
#### Description
Since 6.0 `fela-monolithic` enhancer outputs styles twice when generating with `renderToString` function from `fela-tools` (haven't tried other ways).

Without `fela-monolithic` I get the following:
[code]
But when I add it I get
[code]

If there are more rules it will be like this:
[code]

#### Steps to r

[2017-09-25 13:14] vlad-zhukov opened #396 "Simplify a way to work with the project"
**Version**: 6.0.x
**Type**: Infrastructure

-------------------
#### Description
For me it's unclear how to work with the project. I wasn't able to properly install it locally and make tests pass.

What I did:
* Installed deps with `yarn`.
* `yarn setup`, it took quite some time to do the job and threw some weird error in the end, I had to finish it with Ctrl+C.
* `yarn build` (no idea why it's n

[2017-09-25 13:15] timswalling commented on #394
@rofrischmann would this explain why React components/HTML elements are now wrapped in two Fela components? Or is that by design?

For example:
[code]

[2017-09-25 13:47] rofrischmann commented on #396
What about using this file: https://github.com/rofrischmann/fela/blob/master/.github/CONTRIBUTING.md :P?

[2017-09-25 13:47] #396 closed

[2017-09-25 13:48] rofrischmann commented on #394
that's basically because we now have another HoC added to fetch the theme from context to props, so should not be a problem

[2017-09-25 13:56] vlad-zhukov commented on #396
@rofrischmann sorry, haven't noticed it. 😄

However it doesn't help me, it says the same things that I've already tried and unfortunately they don't work for me. Also what about other proposals?

[2017-09-25 14:05] rofrischmann commented on #396
a clean setup with `npm run setup` should work. If setup fails, everything else will fail as well, but it works for me. What versions do you use?

[2017-09-25 14:26] vlad-zhukov commented on #396
Everything latest: Node 8.5.0, npm 5.4.2, yarn 1.1.0.
Should I try Node v6?

[2017-09-25 15:21] rofrischmann commented on #396
hmm not really. I'm running Node 8, npm 5.4 and it works just fine...
Have you tried a clean setup again?

[2017-09-25 15:22] #394 closed

[2017-09-25 16:11] vlad-zhukov commented on #396
A clean install with npm works, not sure why you've got `yarn.lock` then.

[2017-09-25 18:20] derek-duncan commented on #385
@rofrischmann I think I'm seeing a bug in 6.x since `innerRef` is not passed down any more. For instance...

[code]

In this example, `SomeFelaComponent` is passing all props through to `AnotherFelaComponent`. However, since `innerRef` is not passed through, it will return a `ref` for the instance of `AnotherFelaComponent`, which is the fela wrapper, not the actual React element.

[2017-09-25 18:30] vlad-zhukov commented on #385
@derek-duncan that's what `innerRef` is supposed to do, isn't it? If you need to get a `ref` from a deep-nested component you can pass your own prop and use it there.

[2017-09-25 18:39] vlad-zhukov commented on #396
Alright, I finally managed to install it with `yarn`. 2 previous time I got weird cryptic errors during installation, not sure what it was. Sorry for bothering you with this

There is still a problem that bootstrapping takes forever and makes my IDE lag a bit. Are you fine with this?

[2017-09-25 18:42] rofrischmann commented on #385
Actually we do not even filter innerRef yet, must be part of the new withTheme-HoC actually, ill check this

[2017-09-25 18:45] rofrischmann commented on #396
Yeah Ive been using yarn a lot but recently I use npm again a lot just because we can’t use yarn at work yet which makes me kinda used to npm again

Fine that it worked now :)
Yeah initial bootstrapping takes quite a bit once. Not sure if there’s a way to improve that... after all we got a pretty amount of packages to setup :p

[2017-09-25 18:50] derek-duncan commented on #385
@vlad-zhukov Maybe you're right... it just makes working with Fela-wrapped components pretty cumbersome. I don't think I've ever had a use-case where I would want to get the ref on the actual Fela wrapper.

@rofrischmann ah gotcha. thanks! 👍

[2017-09-26 08:05] rofrischmann commented on #395
Oh sure, I didn't think about updating the monolithic renderer at all. Will try to look into that, but I am not using (and would never recommend to do either)

[2017-09-26 19:45] spruce-bruce opened #399 "Styles not applied when running a production build served by nginx in docker container"
**Version**: 5.3.0
**Environment**: DOM
**Type**: Bug /  General

-------------------
#### Description

I'm not sure this is a bug, but I'm encountering some behavior that I can't explain and I'm hoping that this is something somebody's seen.

When developing locally with the create react app development server my styles are applied appropriately. This is an example from my code using react-fela c

[2017-09-26 23:46] spruce-bruce commented on #399
I don't know why this happened, but updating to 6.0 made it go away

[2017-09-26 23:46] #399 closed

[2017-09-27 08:55] vlad-zhukov commented on #395
I find it handy during development and testing.

[2017-09-28 05:11] levithomason opened #400 "5.x -> 6.0.0 Upgrade Guide"
**Version**: 5.x
**Environment**: DOM
**Type**: Docs / General

-------------------
#### Description

Hi there, looking for an upgrade guide from 5.x to 6.x.  I've searched the docs, issues, and the blog post but apologies if I've overlooked it somewhere.

Sidenote, I'm the author of [Semantic UI React](https://github.com/Semantic-Org/Semantic-UI-React) and have been trialing `fela` in some side p

[2017-09-28 05:51] rofrischmann commented on #400
Heyhey,

Yeah there is no migration guide for 5 to 6. Actually you should not need one. We did a major update to ensure nothing breaks as lots of internal implementations got refactored/improved, but the public API should remain the same :)

E.g. I was able to just upgrade the versions at work where we use it for a huge project atm.

Btw: semantic UI looks great! Planning to try Fela with it?

[2017-09-28 05:51] #400 closed

[2017-09-28 05:51] rofrischmann commented on #400
(Going to close this, feel free to chat on Gitter!)

[2017-09-28 05:56] levithomason commented on #400
Interesting, does `fela` have plans to follow standard [semver.org](https://semver.org) at some point?

I hope so!  Theming via JS is easily one of the most common requests and one of the biggest hangups for folks.

I wrote a short novel on the topic for SUIR in https://github.com/Semantic-Org/Semantic-UI-React/issues/1009.   The interop with RN and ability to generate conventional CSS stylesheets

[2017-09-28 08:55] rofrischmann commented on #400
Yeah, we actually do that since 4.x, but I as I was changing a lot internally, I wanted to ensure nothing breaks (even though if no breaking changes have been added).

According your goals: If you need any advice, feel free to check the Gitter chat. We'd love to collaborate and help here :)

[2017-09-28 09:04] rofrischmann commented on #388
I will probably add some information to the docs, but after all the renderer is just an object with properties. You can switch everything while the cache can be reused most likely.

[2017-09-28 09:04] #388 closed

[2017-09-28 09:05] rofrischmann commented on #383
Is this something we can close and you might bring up a separate package (or integrate sth. here)? Or shall I keep it open

[2017-09-28 10:52] lostpebble opened #401 "[fela-plugin-named-media-query] errors"
**Version**: 6.0.0 and 5.0.0
**Environment**: Both
**Type**: ~~Bug~~ Docs

-------------------
## _Actually was a simple fix, see bold text below_

#### Description
I've been trying to use `fela-plugin-named-media-query` with my app but it appears that I'm always getting a certain error message, even though it does appear to be working behind the scenes:

[code]

(This error appears multiple times

[2017-09-28 10:56] rofrischmann commented on #401
Oh, yeah the validator should be the last one - always.
Maybe we have to update the docs here, seems a bit out-dated.
Would you mind sending a PR?

I might also come up with a best practice complete order tomorrow.
It could be categorized I guess.

[2017-09-28 11:06] lostpebble commented on #401
Cool, will make a PR quick for the validator plugin's README.md.

A best practice for ordering would be great.

[2017-09-28 11:08] rofrischmann opened #402 "Complete plugin order guide"
**Version**: 6.0.0
**Type**: Docs

-------------------
#### Description
Would be great to have a complete plugin order guide.
As for some plugins, the order matters and you might get some strange errors when not caring.

[2017-09-28 11:18] #401 closed

[2017-09-28 14:37] namjul opened #404 "ThemeProviderFactory should only update theme when changed"
**Version**: 6.0.0
**Environment**: DOM
**Type**: Bug

-------------------
#### Description
ThemeProvider always updates theme pub/sub-store when rendered.
https://github.com/rofrischmann/fela/blob/master/packages/fela-bindings/src/ThemeProviderFactory.js#L23
There should be a check if theme has actually changed.

#### Expected Behavior
[code]

#### Actual Behavior
[code]

[2017-09-28 14:56] vlad-zhukov opened #405 "fela overrides styles after rehydration"
**Version**: 6.0.x
**Environment**: Both
**Type**: Bug

-------------------
#### Description
For example I've got a button with the following styles:
[code]
that will be transformed into:
[code]

I render this button on server into a stylesheet, then on client I render this button, then another element, for example, an `h1` with `color: 'red'`, and the resulting stylesheet will be:
[code]
which me

[2017-09-28 15:07] lostpebble commented on #405
Yep, on the new version of Fela seeing similar issues with hydration.

For example, I have a footer who's styles render last. But for some reason the footer's background colour will overwrite the background colour of another earlier created rule. I've reverted to the old versions to get things working properly again.

I can't pinpoint exactly where this goes wrong. When I removed the background co

[2017-09-28 15:49] rofrischmann commented on #405
Looks like the classname generation count has an offset 🤔 Strange as I’ve been testing this locally

[2017-09-28 17:13] vlad-zhukov opened #406 "fela-plugin-prefixer"
**Version**: 6.0.x
**Environment**: Both
**Type**: Bug

-------------------
#### Description
`fela-plugin-prefixer` incorrectly resolves the `display: flex` rule.

#### Expected Behavior
[code]

#### Actual Behavior
[code]

This happens because `inline-style-prefixer` returns styles like `display: ['-webkit-box', '-moz-box', '-ms-flexbox', '-webkit-flex', 'flex']`, but `css-in-js-utils/cssifyObjec

[2017-09-28 17:17] vlad-zhukov commented on #406
I've made a fix for this in https://github.com/rofrischmann/css-in-js-utils/pull/4, however I can't do a PR in this repo due to some weirdness I've described in #396 (yeah, I've got problems again 😢 )

[2017-09-28 19:30] rofrischmann commented on #406
Oh well, if you check the README in fela-plugin-prefixer, you can see that you need to use fela-plugin-fallback-value just after the prefixer

[2017-09-28 19:30] #406 closed

[2017-09-28 19:50] rofrischmann commented on #404
Wanna add a PR? Looks fine to me!
But the check above might be false-positive if you pass a theme object directly.

I'd rather implement `shouldComponentUpdate` (you need to add `recompose` to `fela-bindings`).
[code]

[2017-09-28 20:19] alanhogan commented on #383
Yeah, feel free to close it! If you keep it open, maybe it will catch the interest of someone with thoughts or experience doing something like this, but that doesn't mean you have to clutter your issues page just on the off-chance :)

[2017-09-28 20:19] alanhogan commented on #388
What of the original bug though? Should the FelaProvider component detect when someone tries to replace the entire renderer?

[2017-09-28 21:10] rofrischmann commented on #388
Not sure if one should be able to replace the renderer. Feels kinda wrong to do that^^

[2017-09-28 22:09] namjul commented on #404
Sure, will open a PR tomorrow.

[2017-09-28 22:14] namjul commented on #404
The problem is that `componentWillReceiveProps` will still be called even when `shouldComponentUpdate` returns false. So it would still send an update to the theme pub/sub object.

[2017-09-28 22:18] alanhogan commented on #388
Totally get that. It would be nice for there to be an error if some dummy like me tries to do it.

[2017-09-29 06:44] rofrischmann commented on #404
Oh, does it? Was not aware of that, never used willReceiveProps before. Looks like your proposal is right then!

[2017-09-29 06:44] rofrischmann commented on #388
(y) Will add that

[2017-09-29 07:49] namjul commented on #404
Yes, you can even check it with this nice lifecycle simulator https://reactarmory.com/guides/lifecycle-simulators ;)

[2017-09-29 08:38] rofrischmann commented on #406
@vlad-zhukov PS: It's not that the fix to css-in-js-utils would be wrong, but it's not a "standard" behaviour and some ppl might want to resolve arrays somehow else

[2017-09-29 09:28] vlad-zhukov commented on #406
Looking at the code I just can't understand how plugins interact and why it all works. The `fela-plugin-prefixer` uses `fela-plugin-fallback-value` internally, and yet another instance is required. Also it looks like this isn't covered by tests.

[2017-09-29 09:39] rofrischmann commented on #406
The plugins just run in a row and mutate the style object. The prefixer uses the fallback resolution to reduce css size by clustering prefixed properties, but you still need the plugin to resolve the values. Truth is, we might add that to the prefixer as well and won't need the fallback value perhaps.

[2017-09-29 09:42] #404 closed

[2017-09-29 09:43] #405 closed

[2017-09-29 16:59] TxHawks commented on #406
You can think of plugins as middleware

[2017-09-30 10:52] aga5tya opened #412 "Nested selectors result in wrong classnames during hot reload and results in duplicate styles in the sheet"
**Version**: 6.0
**Environment**: DOM
**Type**: Bug / Clarification

-------------------
#### Description
When latest 6.0 version is used with styleguidist, the initial load has proper classnames with nested selectors, but on hot reload, rules shared from the nested rule will result in irregular class name being appended. Further the latter style generations will result in duplicate styles.

####

[2017-09-30 18:23] steida opened #413 "React 16"
[code]

[2017-10-01 15:07] timswalling opened #414 "`example-preact` error: `Cannot find module 'react'`"
**Version**: 6.0.0
**Environment**: Both
**Type**: Bug

-------------------
#### Description
I receive a "Cannot find module 'react'" error when I run the provided Preact example. This appears the be caused by [Recompose](https://github.com/acdlite/recompose), which requires React.

#### Steps to reproduce
1. Clone the Fela repository
2. Navigate to `packages/example-preact` and run `yarn`
3. Run

[2017-10-01 15:21] timswalling commented on #414
Adding an alias to the Webpack config (as per Recompose docs) fixes the issue in the client, but not on the server. I tried a couple of different module aliasing options for Babel, but I couldn't get anything elegant to work.

I'm happy to update the example to use a webpack build for client and server if you're happy with that.

[2017-10-01 15:27] timswalling opened #415 "`preact-fela` bindings error: `withTheme is not a function`"
**Version**: 6.0.0
**Environment**: Both
**Type**: Bug

-------------------
#### Description
When using `createComponent` with `preact-fela` I get a "withTheme is not a function" error.

#### Steps to reproduce
1. Clone the Fela repository
1. Navigate to packages/example-preact and run yarn
1. Add an alias for React (as per [Recompose docs](https://github.com/acdlite/recompose)) to avoid #414
1. R

[2017-10-01 15:29] timswalling commented on #415
Updating `preact-fela/src/createComponent.js` to include an instance of `withTheme` (as per `react-fela` appears to fix the problem:
[code]

Would you accept a PR with these changes?

[2017-10-01 18:55] rofrischmann commented on #414
Oh I was not aware that recompose requires React, the functionality which we're using does not need React, so we mind find a smaller dependency in general.

[2017-10-01 18:56] rofrischmann commented on #415
Oh I forgot that. Feel free to send a PR!

[2017-10-01 19:49] rofrischmann commented on #395
Alright, looks like you're doing it on the client right? Can't reproduce that locally. Can you try it with <Provider rehydrate={false} />?

[2017-10-01 19:54] #413 closed

[2017-10-01 19:54] #414 closed

[2017-10-01 20:02] vlad-zhukov commented on #395
I'll have a look tomorrow.

[2017-10-01 20:57] rofrischmann commented on #395
Great! Maybe we should switch the rehydration default to false to one can enable it for prod-only (atomic design). Its not compatible with monolithic rendering

[2017-10-01 22:33] TxHawks commented on #395
I'd keep the default as is, since atomic design is also the the default in development mode. There should just be an explanation making clear how to switch it off in the `fela-monolithic` readme.
Or do you mean turning it off only when `fela-monolithic` is actually used?

[2017-10-02 09:01] #415 closed

[2017-10-02 10:37] rofrischmann commented on #395
I thought about it again and think the renderer should be the single source of truth. Therefore I added a "feature flag" which I can simply turn off if monolithic is applied.
This could be a general approach for different features!

[2017-10-02 13:06] vlad-zhukov commented on #395
Not sure what you mean, but can you open this issue back please? I think I've found how to reproduce it in an isolated environment.

[2017-10-03 15:30] rhadoo200 commented on #225
please reopen. i just added an issue about that plugin

[2017-10-03 16:09] rofrischmann commented on #225
Well, that's not an issue here I guess. Should go to the vue-fela repo

[2017-10-03 18:30] rofrischmann commented on #395
Got that fixed as you can see on Travis :) will publish tomorrow

[2017-10-03 18:30] #395 closed

[2017-10-03 18:43] vlad-zhukov commented on #395
Thanks! Is it going to fix a similar bug with atomic classes?

[2017-10-04 13:12] rofrischmann commented on #392
Yeah thank you. Kinda figured it out now. It's how we assign arrays now, but actually the current way is the natural way and the extend merging is rather a special case, so I guess we'll create something for this specific use case.

[2017-10-05 14:15] simonsmith opened #421 "The prop `styles` is marked as required, but its value is `undefined`."
**Version**: 6.0.0
**Environment**: DOM
**Type**: Bug

#### Description
When expecting `styles` as a required prop I'm getting the following error in the console:

[code]

What is odd is that if I log out `styles` from within the `render` method I never see an `undefined` value, just the styles object so it doesn't appear that `undefined` is actually passed in.

#### Steps to reproduce

**Test.js*

[2017-10-05 19:04] aga5tya commented on #412
@rofrischmann Got a chance to look into the repro ?

[2017-10-06 00:04] rofrischmann commented on #412
Not yet actually. I'm in Amsterdam right now at the Fronteers Conference. Will dig into it later this weekend maybe.

[2017-10-09 06:40] rofrischmann commented on #421
Oh well this is odd. Not sure if it is an actual Fela error if the styles always get passed down.

[2017-10-09 20:51] #421 closed

[2017-10-09 20:51] #392 closed

[2017-10-09 21:13] rofrischmann commented on #377
any progress here guys?

[2017-10-09 21:19] rofrischmann commented on #412
Would you mind updating to 6.0.1 and check if the error persists? If yes, I will dig deeper for sure!

[2017-10-09 21:26] rofrischmann commented on #392
Check out fela-combine-arrays.

There's an example how you can explicitly combine extend values :)

[2017-10-09 21:30] TxHawks commented on #392
I'm on a phone, so hard to read all the code, but I think this should probably be internally used by fela-plugin-extend by default, or in the very least be mentioned in its readme very clearly.

Do fallback values still work as expected inside extend blocks with this?

[2017-10-09 22:07] rofrischmann commented on #392
Everything should work as expected. We can add a documentation hint at the plugin-extend docs, but we technically **can't** auto enable that through the plugin, as the plugins only execute on actual render, but we need to overwrite the merging method at initialisation.

[2017-10-09 22:55] jrf0110 commented on #377
Thanks for the ping @rofrischmann let me see if I can knock this out real quick

[2017-10-10 07:49] mbme commented on #392
cool! it works, thanks!

[2017-10-10 11:43] aga5tya commented on #412
@rofrischmann,, Nested selectors seem to work fine and cannot reproduce it now 🎉  But duplicate styles as shown in the last image still exists,, its present even on first load and then becomes more on hot reload.

[2017-10-10 12:15] simonsmith commented on #421
@rofrischmann Still seeing the error after updating to `6.0.1`. Having a quick look at the transpiled `hoistStatics.js` in my `node_modules` doesn't show the changes you've made in that commit.

[2017-10-10 14:20] rofrischmann commented on #421
Oh that's strange :o I will check that. you updated react-fela?

[2017-10-10 14:51] rofrischmann commented on #421
🙈😂 no worries

[2017-10-12 09:11] talkhot opened #426 "fela-plugin-extend: _mergeStyle is not a function"
**Version**: 5.0.10
**Environment**: / Client
**Type**: Bug

-------------------
#### Description
Having all at the fela packiges at the lasted version gives the following error below, when using fela-plugin-extendin the rendererConfig. Downgrading fela-plugin-extend from 5.0.10 back to 5.0.9 removes the error.

[code]

[2017-10-12 10:17] rofrischmann commented on #426
Oh, seems like we made a mistake updating the versions. You can install and use the fela-combine-arrays enhancer to get a quick fix.

[2017-10-12 10:17] #426 closed

[2017-10-12 18:08] SpencerCDixon commented on #125
@rofrischmann I don't see any docs on how to get fela to work with hot module reloading.  Does anyone have any guidance on how to get it to work with storybook??

[2017-10-12 18:35] SpencerCDixon opened #427 "Storybook: Hot Module Replacement"
Running latest versions of everything.  Just curious if someone has gotten hot module reloading working and could point to docs of how to integrate with Fela

[2017-10-12 19:09] rofrischmann commented on #427
Can you provide a working example repository?
I use storybook and it works just as expected.
If you run the React example locally, is works as well.

[2017-10-12 19:39] SpencerCDixon opened #428 "Fela is overriding styles as components get rendered"
**Version**: 6.0.2
**Environment**: DOM
**Type**: Bug / General

-------------------
#### Description
Something really weird is happening with Fela in react storybook.  As I click on various stories and render new components the other components styles get overridden.

See attached gif:

![fela-override](https://user-images.githubusercontent.com/7471018/31515485-53ab4bf0-af63-11e7-8417-6911fe3941f

[2017-10-12 19:50] SpencerCDixon commented on #427
Hmm yeah I must be doing somethinggg funky that is breaking things.  Let me get you a better example!

[2017-10-12 20:03] rofrischmann commented on #412
Found the issue. Not sure if it's an "issue" yet, but I might think about it later. Definitely feels like a wrong behaviour right now.

[2017-10-12 20:07] rofrischmann commented on #428
Can you please give me a working repository? I got no time to create an example myself with just those snippets. I feel like it's the same issue as #412. If I got a example repo, I can test it and maybe fix for both.

[2017-10-12 20:26] SpencerCDixon commented on #428
Yeah don't worry about it, it's definitely something I'm doing wrong will close these for now.

[2017-10-12 20:26] #428 closed

[2017-10-12 20:26] #427 closed

[2017-10-12 20:29] rofrischmann commented on #428
I dont think so. This might be an actual issue! If you could ping me on Gitter, i might be able to help

[2017-10-13 11:32] talkhot opened #431 "Upgrade from V5 to V6 breaks SSR rehydration"
**Version**: 6.0.2
**Environment**: Both
**Type**: Bug

-------------------
#### Description
I've upgrade from V5 to V6 and all works fine expect that the rehydration from Server to Client fails.
It seems to happen when styles like `'& .stro-right'` are used (in createComponent).

styles that seem causing the error:
[code]

error
[code]

[2017-10-13 11:34] rofrischmann commented on #431
I am currently improving the rehydration, thanks for the issue! For now it’s fine to do <Provider rehydrate={false} />

[2017-10-14 14:49] SpencerCDixon commented on #428
Hey @rofrischmann the problem was in this line:

[code]

If you look above my `StyleProvider` was creating a new renderer on every render so when I looked at new 'stories' in react story it was setting all the styles of the other stories to the latest one I viewed.

Once I created a single renderer and passed it in as a prop everything was fixed.  I think that is what was going on but either way i

[2017-10-14 15:04] rofrischmann commented on #428
Oh I see. Thanks for your reply! I guess we will add a storybook example soon, so other ppl don't struggle with the same issues anymore :)

[2017-10-15 10:54] #402 closed

[2017-10-15 10:54] #412 closed

[2017-10-15 11:02] #431 closed

[2017-10-15 13:05] aga5tya commented on #412
@rofrischmann Didn't get time earlier, tested now. Works like a charm, Thank you so much 🎉  Publishing anytime soon ?

[2017-10-15 13:41] rofrischmann commented on #412
Later today :)

[2017-10-17 10:21] TxHawks opened #437 "Using fela-plugin-embed to load multiple font-weights"
**Package**: `fela-plugin-embedded`
**Version**: 5.1.5
**Environment**: Both
**Type**: Bug / Feature / Question

-------------------
#### Description
I'd like to load different weights of the same font-family, without aliasing them to `font-name` and `font-name-bold`. Is that possible?

I guess what i'd like to do is something like:
[code]

Does this makes sense? is there another way of doing this

[2017-10-18 14:14] talkhot opened #438 "React 16 returning array/multiple elements breaks the SSR rehydration"
**Version**: 6.0.0
**Environment**: Both
**Type**: Bug

-------------------
#### Description
When using the new React 16 feature of returning a array of components it breaks the SSR rehydration.

for example:
[code]

[2017-10-18 15:25] rofrischmann commented on #438
What has rehydration to do with returning arrays?

[2017-10-18 16:04] talkhot commented on #438
I don't know. But removing a element container from a list and returning a array of elements, breaks ssr.

example to break ssr:
[code]

works as expected without rehydration error.
[code]

[2017-10-19 12:06] TxHawks opened #439 "renderToString returns empty string for style in snapshots"
**Version**: 5.2.x
**Environment**: test
**Type**: Bug

-------------------
#### Description
I'm not sure this is a bug, more likely I'm just doing something wrong, but snapshots
created with `renderToString()` have an empty string as the value of `styles`.
'component` is fine, with the correct class names.

I don't think it has anything to do with it, but I'm hitting this in a repository that's u

[2017-10-19 13:12] #439 closed

[2017-10-19 14:22] aga5tya opened #440 "[React-Native] Latest version seems to break with usage along fela-native"
**Version**: 6.0.x
**Environment**: React-Native
**Type**: Bug
-------------------
#### Description
Please try to add as much detail as possible.

#### Steps to reproduce
Following set of packages are used
    "fela-native": "5.0.10",
    "fela": "6.0.2",
    "react-fela": "6.0.2",
    "fela-plugin-extend": "5.0.10",
    "fela-combine-arrays": "1.0.1",
    "fela-plugin-remove-undefined": "5.0.10",

[2017-10-20 07:54] #440 closed

[2017-10-20 20:06] veeramarni opened #443 "[TypeScript] fela-dom misses 'renderToMarkup' typings"
**Version**: 6.0.3
**Environment**: DOM / Server / Both
**Type**: TS2305: Module '"fela-dom"' has no exported member 'renderToMarkup'.

-------------------
#### Description
When using `renderToMarkup`, getting the following type error.

[code]

**Code Example**:
[code]

[2017-10-20 20:38] rofrischmann commented on #443
Looks like a TypeScript warning right? Feel free to send a PR fixing this. I'm not using TypeScript and don't update these definitions as well.

[2017-10-21 10:02] lostpebble opened #444 "Import CSS file to renderer as static styles"
#### Proposal

I would very much like a way to be able to dynamically import third party styles into my fela renderer as static styles.

I'm not sure if this is already possible, but from reading the `renderStatic` docs it seems perhaps not:

"It accepts either a valid CSS string or a basic style object with a custom selector to be rendered into."

I see you can pass a css string, but this could b

[2017-10-22 19:02] aga5tya opened #445 "[fela-combine-arrays] Plugin seems to break nested selectors output with latest versions."
**Version**: 6.0.3
**Environment**: DOM / Server / Both
**Type**: Bug

Repro commit:
https://github.com/aga5tya/fela/commit/65ef29e88bb6ef2911254a6921391e268ee331a1

![screen shot 2017-10-23 at 12 30 48 am](https://user-images.githubusercontent.com/17351163/31865253-8325ae9c-b789-11e7-97da-c88ff559e7c3.png)

Removing the plugin everything works fine. cc/ @rofrischmann

[2017-10-24 11:18] Cowboy-coder opened #448 "Issue when using fela-plugin-embedded `fontFace` using multiple fonts with same `familyName`"
**Version**: 6.0.x
**Environment**: Both
**Type**: Bug

-------------------
#### Description
I expect
[code]
to render
[code]
and on the element:
[code]
but instead I get
[code]
on the element.

#### Steps to reproduce
1. First step
2. Second step

#### Proposal

I haven't digged into how to solve this or even if this should be solved like this, but I think it makes sense?

In any case, I have rep

[2017-10-24 23:01] rofrischmann commented on #448
Actually, this is exactly what @TxHawks proposed over at Gitter as well I guess.
We should definitely improve the whole part of rendering fonts in Fela!

[2017-10-25 03:48] TxHawks commented on #448
This is a duplicate of #437. I just ended up doing this directly with `renderFont` at the same place I do all my `renderStatic`, and am quite happy with it:

[code]
I actually think it makes sense to load webfonts there.

That said, I do think there is room to ogger more advanced font loading techniques (see [here](https://www.zachleat.com/web/recipes/) and intend to work on it soon.

[2017-10-26 14:11] lucasmotta opened #450 "Separate @supports and basic rules"
**Version**: 6.0.x
**Environment**: Both
**Type**: Bug

-------------------
#### Description
Hey there,

So after fela added support to `@supports`, we started using in a few places in our application. But we have been experiencing some issues with the order that the `@supports` is added to the page.

Take a look at the example below, it's just a simple demo:
https://codesandbox.io/s/8zmoom681l

A

[2017-10-27 01:29] rofrischmann commented on #448
Yeah, I will close this one as we kind of have an issue already. That's definitely something we'll be working on soon, but there's a reasonable solution up there as well :)

[2017-10-27 01:29] #448 closed

[2017-10-27 01:33] rofrischmann commented on #445
I will check this out soon. No idea why it could happen actually.

[2017-10-27 01:35] rofrischmann commented on #450
Ah I see. Was wondering if this would cause a problem actually. It might be a good idea to have separate style sheets actually. would even make rehydration more explicit.
Just don't like the fact that we'd have to add a stylesheet for every media query + supports as well, but I guess it's ok.

[2017-10-27 11:33] IgorBabkin commented on #443
@rofrischmann I didn't find export of createStyleTagMarkup function in fela-utils. This is not typescript warning only.

[2017-10-27 11:36] IgorBabkin opened #452 "Export 'createStyleTagMarkup' was not found in 'fela-utils'"
I'm using typescript and it throws warning

`WARNING in ./~/fela-dom/es/server/renderToMarkup.js
15:16-36 "export 'createStyleTagMarkup' was not found in 'fela-utils'
`

[2017-10-27 12:11] IgorBabkin commented on #452
I have updated library to 6.0.3. And now got this errors
![image](https://user-images.githubusercontent.com/1428790/32103433-07f14f08-bb29-11e7-950e-716a4eef4824.png)

[2017-10-27 12:13] rofrischmann commented on #443
There'll be a fela-dom patch later today which fixes this export. Sorry about that.

[2017-10-27 12:31] #452 closed

[2017-10-27 12:31] IgorBabkin commented on #452
My fault)

[2017-10-27 12:36] IgorBabkin commented on #443
I used version 5.0.8. Sorry, seems like 6.0.3 has no problems

[2017-10-27 17:49] SpencerCDixon opened #453 "Weird behavior in safari/firefox but not chrome"
**Versions**:
[code]
**Environment**: DOM / Server / Both
**Type**: Bug / General

-------------------
#### Description

I apologize in advance for this probably being a very dumb question/potentially in the wrong place.  I've been using Fela with styleguidist and for some reason when I build styleguidist for production the styles no longer work properly on Safari or Firefox.

When in development

[2017-10-27 17:52] SpencerCDixon commented on #453
Ahhh so making progress I think.  If I reduce the # of components rendering to just be my Icon components then they render okay.  So it appears that some component is breaking the fela renderer from mounting any future styles.  However no errors are being thrown so I have no idea which component breaks things 🙃

[2017-10-27 17:54] SpencerCDixon commented on #453
I'm just going to close this.  I'll binary search until I figure it out :)

[2017-10-27 17:54] #453 closed

[2017-10-27 22:08] brianespinosa commented on #125
Hi @rofrischmann I was digging through the docs to see if I could find an example for hot module reloading [as referenced in this comment](https://github.com/rofrischmann/fela/issues/125#issuecomment-272836389) but I was not able to find anything except this closed issue. Was this example removed in a previous version perhaps?

[2017-10-31 10:43] #445 closed

[2017-10-31 10:45] rofrischmann commented on #438
I will close this. React 16 is not officially supported anyways, but this should be fixed with upcoming versions.

[2017-10-31 10:45] #438 closed

[2017-11-01 00:09] marhalpert commented on #378
I had the same problem, I restarted the dev server and then the error was gone.

[2017-11-01 19:06] vlad-zhukov commented on #444
It's super easy to do in webpack, that's actually what `css-loader` does by default &ndash; bundles css files into js files and provides a simple wrapper. To get a css source string there a method `toString()`, you can use it like this:

[code]

[2017-11-01 19:35] rofrischmann commented on #444
Let's go and add this to the docs somewhere :) Sounds like a great recipe again.

[2017-11-01 19:46] lyudad opened #457 "background-image path"
if I set `url("../../media/files.svg") no-repeat 50% 50%`, fela will start path from public folder, not from current folder

[2017-11-01 19:51] rofrischmann commented on #457
Could you please try to at least fill out the issue template that's provided? From what I can tell, this is not Fela's issue but default behaviour in CSS. Might be caused by your bundling system or whatever.

[2017-11-01 19:51] #457 closed

[2017-11-01 19:58] lyudad commented on #457
when I add to css everything fine. but if you say it not fela - ok, will look for other solution

[2017-11-01 20:02] rofrischmann commented on #457
I think it depends on where your path is defined and how the bundler resolves those paths/where the bundler entry point is. I am 100% sure if you add an absolute path, it works as well => not an issue with Fela itself. You could check to which path the plain CSS URL resolves to and just copy that.

[2017-11-02 08:41] bkniffler opened #458 "fela-plugin-fallback-value@^5.0.13 not found by fela-plugin-prefixer"
Tried deploying an update today, got this:
[code]

[2017-11-02 09:01] rofrischmann commented on #458
Oh wow. Some `npm publish`s seem to have failed without warning :o

[2017-11-02 09:13] jglapa commented on #458
when can we expect to re-publish this? I'm not able to run `npm install` right now

[2017-11-02 09:26] aga5tya commented on #458
Until published,, you could lock in the version in your package.json dependency and builds go through.
[code]

[2017-11-02 09:31] rofrischmann commented on #458
Done.
No idea why and what happened, but 40% of the packages haven't been successfully published, the rest did.

[2017-11-02 09:31] #458 closed

[2017-11-02 09:42] aga5tya commented on #458
@rofrischmann: http://registry.npmjs.org/fela-plugin-embedded is still a version older

[2017-11-02 10:14] rofrischmann commented on #458
Updated, if anything else, please reach asap.

[2017-11-02 14:48] aga5tya commented on #444
@vlad-zhukov, @rofrischmann, doesn't renderStatic override the previous styles injected as static ?

[2017-11-04 16:35] Cavitt opened #459 "Support React 16's renderToNodeStream"
**Version**: 5.0.x
**Environment**: Server
**Type**: Feature

-------------------
#### Description
Stream styles to the client in a similar fashion to [ReactDOMServer.renderToNodeStream](https://reactjs.org/docs/react-dom-server.html#rendertonodestream).

#### Proposal
Figure out some way to hook into the chunk being streamed to the client and generate a style tag containing only rules that are ne

[2017-11-04 16:40] TxHawks commented on #459
Isn't that pretty much what #337 will do?

Albeit without `renderToNodeStream`, but hard for me to see how that's something Fela should or could be in charge of.

[2017-11-04 16:51] Cavitt commented on #459
@TxHawks yes, I did not see that issue. This can be considered a duplicate.

The only difference between your and my proposal was rendering a style tag per chunk of components VS per component.

[2017-11-04 16:51] #459 closed

[2017-11-04 17:00] rofrischmann commented on #459
Heyhey. I am already testing stuff with the renderToNodeStream and its in fact related to #337, but I need some time to finish it :P

[2017-11-04 22:36] newsiberian commented on #431
Hi, after migration I also faced with problems with hydration. In my case rules naming are repeats. I tried `react` 15.6.1 and 16 and behavior the same in both cases. All `fela` packages are latest. With `<Provider rehydrate={false} />` all seems works fine.
![cryptit_179](https://user-images.githubusercontent.com/11130487/32410055-dc9fb3b2-c1ea-11e7-91dd-8de556299710.png)

[2017-11-05 00:39] sgrishchenko opened #460 "[TypeScript] definition for 'connect' is missing"
**Version**: 3.0.x
**Environment**: DOM
**Type**: Feature / Docs

-------------------
#### Description
* Improved typing of the function 'withTheme' in 'react-fela' (added a generic for the theme).
* The typing for the function 'connect'  in 'react-fela'  has been added.
* A small improvement has been added to the function 'connectFactory' in 'fela-bindings' that allows you to pass a function as a

[2017-11-07 17:27] #460 closed

[2017-11-07 17:28] rofrischmann commented on #444
@aga5tya Nop it doesn't! Should it? No I guess right?

[2017-11-07 17:48] lostpebble commented on #444
@rofrischmann I think it logically should not. So it's fine as it is now. Generally static styles are added at the beginning of renderer creation.

I could see an issue arising if you dynamically insert static styles. For example, a dynamic import similar to the one I used above:

[code]

What would happen if this ran in a `componentDidMount()` of a component which is mounted multiple times? The i

[2017-11-07 18:21] aga5tya commented on #444
@rofrischmann My bad,, It was something wrong with my set up that caused the renderer to override static. Works as expected now.

[2017-11-07 19:21] rofrischmann commented on #444
@lostpebble if it’s the same CSS string it will only be added once and cached 👌 you can add as many static styles as possible

[2017-11-08 10:40] isymchych opened #465 "renderStatic doesn't render media query from a style object"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.0.x   |

-------------------
#### Description
`renderer.renderStatic` doesn't render media query from a style object

#### Steps to reproduce

[code]

#### Expected Behavior
Page content should be hidden

#### Actual Behavior
Page content is visible

[code]

[2017-11-08 14:29] rofrischmann commented on #465
Hmm, yeah. Actually this is not supported at the moment. But @supports and @media seem like valid rule extensions for static styles as well. I will perhaps write an enhancer for it, because I don't want to bloat the APIs.

Thanks for reporting, never "needed" this functionality by now!

[2017-11-08 14:45] isymchych commented on #465
I assumed it was a bug cause media queries work in `renderStatic` if `style` is a string, also they work fine inside rules, so I had a feeling that they should also work in style objects  ¯\\_(ツ)_/¯

[2017-11-08 15:07] rofrischmann commented on #465
yeah thats true. maybe I can refactor the logic of rule rendering to reuse it for static rendering as well.

[2017-11-11 01:13] Redmega commented on #400
`is` has become `as` in `createComponent`. There are other issues which have popped up as well. It's not quite as clean a transition as you'd think. Anyone else having these issues?

[2017-11-12 10:02] kompot opened #467 "Dep package version without `^`"
Saw that at least in one place
https://github.com/rofrischmann/fela/blob/master/packages/react-fela/package.json#L31
version is set as `"prop-types": "15.5.8"` which leads to package duplication in `node_modules` tree of user's project that uses `react-fela`.

Would not it be better to always use `^` for direct dependencies so that we have cleaner `yarn.lock`s and smaller bundles?

[2017-11-12 12:55] rofrischmann commented on #467
Yeah, I removed the ^ after we had several semver issues (damn, managing a monorepo is hard).
I’d love to get a PR that adds those back if you want to! Got the semver problem fixed pretty soon with a new tool :p

[2017-11-12 17:18] kompot commented on #467
Will be happy to do PR, but could not quite grasp the right way to upgrade dependency though.

As far as I understand `fela` uses `lerna` but not using yarn workspaces.

Running `yarn add prop-types@^15.5.8` in `packages/react-fela` leads to adding lots of `fela-*` packages to `packages/react-fela/yarn.lock`. Could you please point to the proper way of upgrading packages?

[2017-11-13 21:47] odiseo42 opened #468 "IE 11 Support (extractUsedProps using Proxy)"
**Type**: Question

**Versions**:  fela     | 6.0.x

#### Description
Is Fela striving to support IE11?

I started using Fela in my project, but found out that is not working on IE11 due its use of `Proxy` in [extractUsedProps.js](https://github.com/rofrischmann/fela/blob/master/packages/fela-utils/src/extractUsedProps.js), which unfortunately is a feature that [is not possible to polyfill](https:

[2017-11-13 21:49] rofrischmann commented on #468
In general, if you're not using createComponentWithProxy it should be needed, I can add a feature check so your browser doesn't throw.

[2017-11-13 21:56] brianespinosa commented on #468
@rofrischmann I love the feature flag check idea.

Additionally, I think it would be good to have a browser support table with a full/partial/none flag. Specifically for `createComponentWithProxy` I think it would be good to have notes on this in docs.

[2017-11-13 21:58] odiseo42 commented on #468
If that's the case then I guess I can just use `createComponent` and explicitly pass down the props 😁 But for stability I guess a browser check would be nice.

[2017-11-14 14:13] rofrischmann commented on #467
hmm. I was actually doing it manually :/ just adding the ^ to all external deps.

We have an open PR to use yarn workspaces soon, but I'm not deeply into that at all.

[2017-11-14 14:15] rofrischmann commented on #377
Any update on this? (Just asking, no worries)

[2017-11-14 14:16] rofrischmann commented on #383
I will close this one for now. If it's still interesting for you, feel free to send a PR or create your own project for a plugin =)

[2017-11-14 14:21] kompot commented on #467
Well, I guess we should leave this issue opened until workspaces PR is hopefully merged and then upgrade all the deps.

[2017-11-14 14:23] #437 closed

[2017-11-14 14:26] #468 closed

[2017-11-14 15:29] jrf0110 commented on #377
The update: It was a little harder than expected and I haven't tried again since early October. From what I remember, `TRule` currently isn't a generic type, but more like `any` (or rather a function whose argument is an object with unknown shape that returns CSSProps). Changing it to be generic affects _a lot_ of the existing types.

I'll put some time on my calendar this week to take another sta

[2017-11-14 18:09] tajo opened #469 "Provider rehydrate true breaks server-side rendering"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela-dom     | 6.0.5   |

-------------------
#### Description
Provider with `rehydrate` prop set to `true` possibly breaks server-side rendering. Needs probably more investigation, details, minimal example.

[code]

[2017-11-14 20:13] TxHawks commented on #469
What's the `rehydrate` prop? Can't find any documentation on it

[2017-11-15 18:23] rofrischmann commented on #469
It's auto-enabled and won't be required at all soon (rehydration now knows if styles can be rehydrated or not).

Also trying with the latest example-react, I can't reproduce this as we have a `hasDOM()` check to prevent rehydration calls on the server.

[2017-11-15 18:23] #469 closed

[2017-11-15 18:32] #444 closed

[2017-11-15 21:10] #467 closed

[2017-11-16 11:48] #377 closed

[2017-11-17 10:11] #443 closed

[2017-11-18 10:43] TxHawks opened #473 "Sorting of pseudo-class is not consistent"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.0.x   |

-------------------
#### Description
Please try to add as much detail as possible.

#### Steps to reproduce
if I have two rules in different places in the app, called in this order:
[code]

the `:active` color in `rule2` is trumped byits `:hover` rule, because it was already defined in `rule1`

#### Expected Behav

[2017-11-21 20:06] tajo commented on #469
In my project, I am actually doing some mocks in SSR (*facepalm*):

[code]

which actually passes `hasDom` test. How about more robust check:

[code]

[2017-11-21 22:48] rofrischmann commented on #469
Oh thats it! Feel free to send a PR!

[2017-11-24 09:15] #450 closed

[2017-11-24 09:49] wcastand opened #474 "Native-base and theme key in context"
**Type**: Bug / Question

We are using native-base for our react-native app alongside fela and we have a problem with the ThemeProvider.

ThemeProvider uses the key `theme` in the context but since it's not scope with something like `fela_theme`. it gets mixed with the theme key from native-base.

I inform native-base team of the problem since neither fela or native-base provide a way to change th

[2017-11-24 09:51] rofrischmann commented on #474
I guess @HugoGiraudel was proposing a customizable key name anyways! Sounds like a fair way to solve it.

[2017-11-24 09:52] wcastand commented on #474
I don't mind a customizable key, just like a lot more work than just scoping the key in a first time :)

[2017-11-24 13:23] wcastand commented on #474
fixe din #475

[2017-11-24 19:53] #474 closed

[2017-11-29 17:42] talkhot opened #477 "Using more than one condition for fela-plugin-extend fails."
**Type**: Bug or Feature

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.0   |
| react-fela    | 6.1.1   |
| fela-plugin-extend    | 6.1.0   |

-------------------
#### Description
Using more than one condition for fela-plugin-extend fails and in the example below only the last condition works/is applied. It also fails when using fela-combine-arrays as enhancer.

Don't know if this

[2017-11-29 21:18] rofrischmann commented on #477
In JavaScript, you can't define an object key twice, so the first extend will be overwritten in your example. But, fela-plugin-extend supports an array as well:
[code]

[2017-11-29 21:18] #477 closed

[2017-12-05 20:51] sgrishchenko opened #482 "Extending styles implementation for connected components"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela-tools     | 5.0.x   |
| fela-bindings     | 1.2.x   |

-------------------
#### Description
I propose to implement a mechanism for extending styles for components created using the `connect` functions.

#### Proposal
It might look like this:

**Code Example**:
[code]

[2017-12-13 06:24] rofrischmann commented on #365
I am going to close this as from my eyes it doesn't really make sense. Using SSR to determine the minimum critical CSS is ways more stable and better than any extraction mode as we could have a lot of problems with duplication and so on as we don't know which components renders first and when others render => can't really do code-splitting here.

[2017-12-13 06:24] #365 closed

[2017-12-13 10:48] rofrischmann opened #484 "Integrating Elodin/Bredon"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela | 6.0.x |
| babel-plugin-fela | 1.x.x |

-------------------
#### Description
For further precompilation optimisations, preprocessing, style minification and style linting/validation, I am working on [bredon](https://github.com/rofrischmann/bredon). To further simplify the usage of Bredon, I created [elodin](https://github.com

[2017-12-13 11:02] TxHawks commented on #484
May be a stupid question, by why a plugin and not integrate it as part of the existing Babel plugin?

And a clarification, question - when you say `plugin` in this case, do you mean another Babel plugin, or an actual Fela plugin?

[2017-12-13 11:06] rofrischmann commented on #484
Oh, I might be unclear here. I am talking about a Fela plugin, not another Babel plugin.
The Babel plugin is able to precompile using all Fela plugins, so we don't really need to integrate directly into babel-plugin-fela.

Might also be cool for dev to have the plugin running in the client as well.

[2017-12-13 11:15] TxHawks commented on #484
My worry about it being an actual Fela plugin is that it's another thing to remember (and thus, forget) to strip away from the production bundel

[2017-12-13 11:20] rofrischmann commented on #484
What if it does nothing in prod and thus gets removed by the bundler by default?

[2017-12-13 11:25] TxHawks commented on #484
Tree shaking is hard and works a little different in every bundler. Relying on it to work as expected is not as safe as one would want it to be. The lodash babel plugin exists for a reason

[2017-12-15 12:12] #482 closed

[2017-12-16 13:57] fletcherist opened #485 "`preact-fela` bindings error: `withTheme is not a function`"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.0   |
| preact-fela | 6.1.1 |

-------------------
#### Description
Please try to add as much detail as possible.

When using `connect` with preact-fela I get a `"withTheme is not a function"` error.

#### Steps to reproduce

Just the same as in https://github.com/rofrischmann/fela/issues/415

#### Expected Behavior

The

[2017-12-16 14:14] fletcherist commented on #485
Fix PR: https://github.com/rofrischmann/fela/pull/486

[2017-12-18 08:32] #485 closed

[2017-12-18 19:04] SpencerCDixon commented on #129
@steida do you have any recommendations on how to use Flow with the `connect` function in fela?  I'm stumped (due to lack of good flow knowledge) and was curious if you had any tips?

[2017-12-19 13:58] stream7 opened #488 "createComponentWithProxy misses props in first call"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.1   |

-------------------
#### Description
`createComponentWithProxy` causes a flash of unstyled content due to props missing in the render rule.

#### Steps to reproduce
Please check the example: https://www.webpackbin.com/bins/-Kqwv3eAUrTK2BqSXk9v

You will notice a `size == undefined` in the console logs.

#### Expec

[2017-12-19 21:51] stream7 commented on #488
@rofrischmann not sure if this is a bug after all. I can't reproduce the FOUC and I now understand why the rule is called twice. Don't think it's a bug, will reopen if necessary.

[2017-12-19 21:51] #488 closed

[2017-12-20 13:05] christophediprima commented on #400
I am also having issues with undefined theme when moving to version 6 of react-fela.

[2017-12-22 15:18] danielantelo opened #489 "Dependency issue with new version today"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela        | ^6.1.0   |

-------------------
#### Description

Today NPM Install started failing complaining about no match version of fela-tools:

[code]

our  package.json

[code]

[2017-12-22 15:30] danielantelo commented on #489
now working ....

[2017-12-22 15:30] #489 closed

[2017-12-30 04:03] sgrishchenko opened #491 "Enhancer for generate unique class names"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela-identifier | 1.0.x   |

-------------------
### Description
#### Problem
Sometimes it is necessary to additionally stylize (for example, highlight) some DOM element when manipulating (for example, when hovering) with the parent.
In classical CSS this would look something like this:
[code]
But with Fela, this is not so easy, be

[2017-12-30 07:12] TxHawks commented on #491
I think a better approach for this would be to make `&` more robust, like it is in sass.

Today, you can already do
[code]
If the ability to outside `:hover &` correctly is added, there'll be no need for an enhancer and it's much more idiomatic.

An enhancer adds a lot of complexity consumer-side for something that can and should be pretty simple

[2017-12-30 14:06] sgrishchenko commented on #491
If you try to solve this problem using only the existing syntax of nested rules in Fela, you are faced with the problem that you do not know what class name should be in place of 'child-element'. You will have to manually assign the class name to the child element and manually concatenate this class name with the class that the Fela renderer generates. And the most unpleasant thing is that if you

[2017-12-30 14:55] TxHawks commented on #491
The solution I suggested does not work right now, as Fela currently only handles `&` at the beginning of a selector. However, I think making `&` work more like it does in sass is more idiomatic to how Fela generally works, and you won't need to manually assign class names.

I think `&` should be augment to work in a manner where `<MyComponent>text</Mycomponent>` in the following example
[code]

wi

[2017-12-30 17:01] sgrishchenko commented on #491
In your example, the hover element and the stylized element are the same element. And I'm talking about the case when we hover at one element and highlight the other.

In addition, your example does not work because before `:hover` in style tag there is nothing, i.e. it's not clear on which element we are hovering (I checked in the browser)

I need something like [this](https://codepen.io/sgrishch

[2017-12-31 12:18] sgrishchenko commented on #491
In fact, the idea of this ehancer is more general. I wanted to do something like [refs](https://reactjs.org/docs/refs-and-the-dom.html) in the react but for Fela.

[2018-01-04 08:49] rofrischmann commented on #491
Alright guys, I took a month off in december to focus on other hobbies.
Will check that as soon as possible, but it sounds fairly legit, yet also quite complicated from what I can see on quick overview.

[2018-01-04 13:00] rofrischmann opened #493 "Deterministic Atomic Classes"
**Type**: Improvement

| Packages | Version |
| -------- | ------- |
| fela     | 6.0.x   |

-----

#### Proposal
Right now, Fela generates really small atomic class names by simple incrementing a single counter. This leads to insane class name generation and minimal markup size. Yet it is not deterministic and might collide if multiple Fela renderer are used which is far from perfect.

We might c

[2018-01-04 13:07] TxHawks commented on #493
I think it's worth benchmarking, but if it's a big performance hit it doesn't seem to be worth it to me

[2018-01-04 20:31] sgrishchenko commented on #491
Is it complicated in terms of implementation or in terms of user use?

[2018-01-05 02:10] HamidAghdaee opened #494 "Enzyme shallow output does not match expectations"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.3   |
| enzyme     | 3.3.0   |
| fela-tools     | 5.1.2   |
| react     | 16.2.0   |
| react-fela    | 6.2.4   |
| enzyme-adapter-react-16 | 1.1.1|

-------------------
#### Description
When using enzyme shallow rendering, the output does not render Fela styles.

#### Steps to reproduce
I took the code from here: http://

[2018-01-05 13:14] rofrischmann commented on #493
I just did some really small benchs and it's about 3.5x slower than the default one, and like 10x slower if I "beautify" the className using `.toString(36)` to make it shorter.

This sounds like a lot, but actually it's only about the generation, excluding cache checks and actual DOM rendering etc. We're speaking about 800,000 operations vs. 3,500,000 operations per second.
In real world applicati

[2018-01-05 13:16] rofrischmann commented on #494
I guess this is due to changes in Enzyme 3 (for React 16).
It works perfectly fine if I use 2 and 15 as used in the docs. I am not really sure how to fix it for Enzyme 3 actually, but it's definitely not a bug in Fela itself.

[2018-01-05 17:42] HamidAghdaee commented on #494
@rofrischmann Dang. Thanks for looking into this. That's a bummer. We're trying to do stateful shallow testing of our components in React 16. As it is I can't think of a good solution until this is fixed.

`renderer` from `react-test-renderer` will give us the full DOM Tree, with styles and all but it is the full render of the entire tree and now shallow. `ShallowRenderer` from the same library do

[2018-01-06 19:01] sgrishchenko commented on #491
I was thinking about additional options for using this enhancer. It seemed to me that it would be convenient to use it to develop libraries of visual components. Imagine that you have some set of components and you need to provide a public API for their centralized customization. This enhanceris perfect for this. You simply mark those Fela-rules that are ready to provide for customization with ide

[2018-01-06 19:03] sgrishchenko commented on #491
I can describe this in the README for the enhancer, if that's a good idea...

[2018-01-10 15:16] rofrischmann commented on #473
Got a working PoC for server-side rendering already. DOM rendering should be similar, but I am afraid it won't work with renderToNodeStream for React 16 and won't work by design at any time. Could be fixed using a plugin as well though.

[2018-01-11 08:40] rofrischmann opened #496 "createComponent and connect as Components (render props)"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela     | 6.0.x   |

-------------------
#### Description
Render props is probably the new hipster shit and to be serve the hipsters we should add them as well.
Well and they're quite cool and useful too.

#### Proposal
We could add new APIs for both `createComponent` and `connect`.
This would have many benefits:

- no need for `p

[2018-01-11 21:29] rofrischmann commented on #473
Alright, got a powerful version for DOM as well. Now need to test and bench it and find a way to leverage the order from rehydrated styles.

[2018-01-11 21:30] rofrischmann commented on #494
Hmm. I am afraid I do not know any simple solution to that. I actually only test components with `react-test-renderer`. I will eventually close this issue right here. Feel free to reopen if it turns out to be something wrong with Fela.

[2018-01-11 21:30] #494 closed

[2018-01-14 14:24] TxHawks commented on #496
I can't say how much I think this is a good API for Fela. It makes everything so much more explicit. However, I think a slightly better API for it would be:

[code]

Naming the component `FelaComponent`, or anything other than `CreateComponent` really, will avoid confusion between the HOC and the component.

I think using a `render` prop is better than using `children` as a function because it is

[2018-01-16 11:48] talkhot opened #497 "babel-plugin-fela errors on ssr"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.0   |
| babel-plugin-fela |  1.0.10 |

-------------------
#### Description
babel-plugin-fela errors in een SSR (NextJs) setup. Using the basic use case of"plugins": ["babel-plugin-fela"].

![image](https://user-images.githubusercontent.com/9306364/34987385-42d58428-fabb-11e7-82e0-35cc352ba340.png)

[2018-01-16 12:10] TxHawks commented on #497
@talkhot The attachment is too small and impossible to read

[2018-01-16 23:23] sgrishchenko opened #498 "Validator plugin improvment"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela-plugin-validator | 5.0.x   |

-------------------
#### Description
Now Validator plugin can only detect an error in nested rule or in media query. But if I make a mistake in the CSS syntax, no one will tell me about it. I suggest integrating the Validator plugin with [csslint](https://github.com/CSSLint/csslint) to get conveni

[2018-01-22 06:47] tajo commented on #496
I don't understand this argument. There is a lot of discussion about this all over the ecosystem but so far it seems as "spaces vs tab" war. Personally, I more lean to use the children prop. What happens if somebody will do this?

[code]

[2018-01-22 07:43] TxHawks commented on #496
@tajo I agree that this is a bit of a spaces vs tabs argument (of course spaces are better than tabs and vim supperior to emacs!).

However, I find it easier to teach people new to React that a `render` prop accepts a function than it is to teach them that the `children` prop can be a function. In fact, I've found that many new to React are not even aware that `children` is an implicit prop when u

[2018-01-22 22:24] mmintel opened #505 "how to integrate with gatsby"
Hey,

I'd like to integrate fela with gatsby. There is an officially supported JSS plugin for gatbsy that seems pretty simple, see here: https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-jss/src.

Only two files to add `gatsby-browser.js` and `gatsby-ssr.js`. Although I think fela works a little bit different than JSS? But setup should be pretty similar.

My `gatsby-browser.js`

[2018-01-23 14:57] rofrischmann commented on #505
Heyhey. I haven't checked Gatsby for a while, but I was using Fela with an older Gatsby version where Glamor was kind of build in.

I try to find that and give you some advice, but I guess I need to check the Gatsby APIs first. Maybe @KyleAMathews got an idea here?

[2018-01-23 15:17] mmintel commented on #505
Yes in the example you provide in the fela docs for SSR you pass the renderer as a property into the app component, but I am not sure how to do that with gatsby. I think it's possible via `setBodyProps` method from gatsby, will try that later.

[2018-01-24 08:09] rofrischmann commented on #505
Oh yeah, that example is pretty straight forward. You should definitely use the `<Provider>` component to pass the renderer via context. I guess that's somehow the problem here. If you'd be able to create a simple example repo with the exact problem, it would help a lot to debug.

[2018-01-24 11:35] mmintel commented on #505
Created an example repo over here: https://github.com/mmintel/example-gatsby-fela

[2018-01-29 09:52] mmintel commented on #505
@rofrischmann I think I've got it and updated the example repo! :) Maybe you could have a look at it before I will release a gatsby plugin with that code.

[2018-01-29 10:31] mmintel commented on #505
@rofrischmann already published the plugin here: https://www.npmjs.com/package/gatsby-plugin-fela

Should close this here now and open issues on the plugin repository instead.

[2018-01-29 10:31] #505 closed

[2018-01-29 10:43] rofrischmann commented on #505
Yeah nice, would you mind adding it to the Ecosystem and README page here?

[2018-02-01 17:22] kang-chen commented on #247
can't seem to get this working with themed components.

Have tried passing through context with @derek-duncan 's example and also example in http://fela.js.org/docs/recipes/TestingFelaComponents.html

'theme' always seems to be undefined. Works fine with ThemeProvider wrapped although I prefer not to wrap all themed components.

[2018-02-01 20:18] derek-duncan commented on #247
Here's the code I'm using for wrapping enzyme's `shallow` method:

[code]

[2018-02-02 12:14] kang-chen commented on #247
@derek-duncan thanks for the snippet, I'll give it a go.

Also found this: https://github.com/styled-components/styled-components/issues/624 same issue in styled components. Basically concluding passing theme via props might be the most straight forward approach.

[2018-02-08 10:31] bkniffler opened #512 "Multiple fallback values for css properties"
Type: Feature

Currently its not possible to assign multiple values to a css property. For example:

[code]

Any idea how to solve such scenarios?

[2018-02-08 10:39] rofrischmann commented on #512
Using [fela-plugin-fallback-value](https://github.com/rofrischmann/fela/tree/master/packages/fela-plugin-fallback-value) you can do:

[code]

[2018-02-08 10:39] #512 closed

[2018-02-11 19:42] outkine opened #515 "inferno-fela incorrectly imports inferno-create-element"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela | 6.1.3 |
| inferno-fela | 6.2.4  |
| inferno-create-element | 4.0.1 |
-------------------
#### Description
Using inferno-fela produces an import warning and a runtime function undefined error.

#### Steps to reproduce

[code]
#### Expected Behavior
No error

#### Actual Behavior
[code]
[code]

#### Proposed solution
I tried to mo

[2018-02-11 21:53] Jetmate commented on #515
Downgrading to inferno-create-element 3.10.1 seems to fix this problem.

[2018-02-11 22:01] outkine opened #517 "inferno-fela does not work with latest version of babel-plugin-inferno"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela  | 6.1.3   |
| inferno-fela | 6.2.4 |
| babel-plugin-inferno | 4.0.0 |

-------------------
#### Description
Upgrading from babel-plugin-inferno 3.2.0 to 4.0.0 causes an error when rendering a fela element created with createComponent.

#### Steps to reproduce

[code]
produces
[code]
Omitting the actual render like so prevents the

[2018-02-12 12:03] rofrischmann commented on #515
Heyhey! Thanks for filling out Inferno issues. Im not personally using Inferno, so I can't keep the code and deps up-to-date all the time. Would you might sending a PR to fix this one?

Greetings,
Robin

[2018-02-12 12:45] #493 closed

[2018-02-12 12:45] #496 closed

[2018-02-12 12:45] #498 closed

[2018-02-26 23:56] HamidAghdaee commented on #494
@rofrischmann

In response to this issue, I came up with a solution which is working for us at Cloudflare:

https://github.com/HamidAghdaee/test-fela

I would be interested in open-sourcing it. what do you think? how would we go about doing that?

[2018-02-27 08:29] rofrischmann commented on #494
I would love to see that happening :)
You can either release it yourself and add it to the docs, or directly send a PR to add it to the Fela monorepo and benefit from the integrity of the repository =)

Love to see that ppl are building solutions for common problems I am not aware of!
Great work.

[2018-02-27 09:20] rofrischmann commented on #366
This will not simply happen anytime soon as there's too much to consider. Rather use the new `FelaComponent` render-props API that ships a quite similar experience.

[2018-02-27 09:20] #366 closed

[2018-03-06 09:59] menelike opened #524 "Custom property not removed if return value is an object"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.4   |
| fela-plugin-custom-property     | 7.0.0   |

-------------------
#### Description
When using custom properties which return objects the custom property key is kept in the style which returns a warning since the property is an unknown key:

[`The object key "foo" is not a valid nested key in Fela.
Maybe you forgot

[2018-03-07 17:09] wagerfield opened #525 "fela-plugin-extend converts null values to empty objects"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela | 6.1.4 |
| fela-plugin-extend | 6.0.3 |

-------------------
#### Description

I have created a repo to demo the issue:

https://github.com/wagerfield/fela-extend-issue

The `extend` plugin will convert any `null` value to an empty object `{}`.

#### Steps to reproduce

[code]

#### Expected Behavior

For the second renderRule ca

[2018-03-07 17:28] rofrischmann commented on #525
Oh, interesting! Never happened to see that before. What happens if you use `undefined` instead of `null`?

Another quick fix would be to do `color: setColor && 'red'` as undefined values get filtered out automatically, or do you explicitly want to have the `null`?

[2018-03-07 19:39] wagerfield commented on #525
If you set the value to `undefined` rather than `null` it works as expected: values within `expect` blocks get properly set to `undefined` and then automatically removed by Fela.

Your solution above using `&&` will work when the passed prop is undefined, but there are many cases where you might want to perform the logic of optionally setting a property based on a prop that isn't undefined like:

[2018-03-07 21:23] rofrischmann commented on #525
Yeah I get your point. Apart from that, of course it's a bug. If you'd be open to fix it (I can help out ofc), it'd be great. Otherwise it might take some time.

Btw. do you think Fela should remove `null` just like it removes `undefined` values?

[2018-03-12 08:03] wagerfield commented on #525
Since there are no `null` CSS values (that I know of) I think that removing them in same way that Fela does with `undefined` values is probably the right thing to do. I will first take a look at fixing the extend plugin and then have a look at automatically pruning `null` values in Fela's core (I assume that's where it is). If you could point me to the relevant file(s) where `undefined` values are

[2018-03-12 08:41] rofrischmann commented on #525
Here we go: https://github.com/rofrischmann/fela/blob/master/packages/fela-utils/src/isUndefinedValue.js

As soon as the extend plugin is fixed, this should do the job, but I guess the problem is: https://github.com/rofrischmann/fela/blob/master/packages/fela-plugin-extend/src/index.js#L9
`isPlainObject` returns `true` for `null` as `null` has an `'object'` type... Should use sth. like

[code]

We

[2018-03-12 08:53] TxHawks commented on #525
Why not just

[code]

[2018-03-12 10:03] rofrischmann commented on #525
Oh yeah its fine to commit that, I copy the README to the packages/fela directory in order to have it on npm as well.

[2018-03-12 19:23] rofrischmann commented on #525
I just fixed this while porting all the isPlainObject, hope you didn't already do that as well :/ https://github.com/rofrischmann/fela/pull/530

[2018-03-13 02:07] hkjorgensen opened #532 "react-fela: Initial render missing CSSRules because of `componentDidMount`"
**Type**: Bug / ~Feature~ / ~Infrastructure~ / ~Docs~ / ~Question~

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.4   |
| react-fela | 6.2.4 |

-------------------
#### Description
react-fela offers a provider to wrap around a react render tree. [The provider relies on the hook `componentDidMount`](https://github.com/rofrischmann/fela/blob/master/packages/fela-bindings/src/Provide

[2018-03-13 12:21] rofrischmann commented on #532
So you're not using SSR, am I right? As it would rehydrate the style.
componentWillMount is possible if you're only on the client, but using it on the server would throw as `render(renderer)` from `fela-dom` requires an actual DOM. We could add the same check to willMount as well, so if you're only rendering on the client, is injects the style on willMount, but if you're rendering on the server it

[2018-03-13 15:10] wagerfield commented on #525
Awesome—thanks for fixing that!

...and nope—didn't get round to having a go myself, so no time wasted on my end :)

I just looked over the commit and commented on what I believe to be an error in the `isUndefinedValue` util function in `fela-utils`.

Looks like you accidentally wrapped `null` in quotation marks (`'null'`) where it should just be be `null`. Pretty sure this is an error.

Also I th

[2018-03-13 16:33] rofrischmann commented on #525
Yeah the naming could be changed, the stringified null has already been fixed though ;)

[2018-03-13 17:14] hkjorgensen commented on #532
@rofrischmann

Correct, the current project is not using SSR.
Correct, if using SSR the issue mentioned above wouldn't happen :-)

My proposal would be to

ProviderFactory.js
[code]

The [`hasDOM()`](https://github.com/rofrischmann/fela/blob/master/packages/fela-bindings/src/ProviderFactory.js#L5-L12) helper would guard it against trying to render server-sider. How does that sound @rofrischmann ?

[2018-03-13 17:16] wagerfield commented on #525
Thanks again for fixing this!

I'll say it again—Fela is freaking awesome man—deserves 10x the GH stars it currently has. Really enjoying using it and have been singing its praises to every dev I know.

Any idea when these updates will be finding their way onto NPM?

[2018-03-13 17:36] rofrischmann commented on #525
Hahaha, thanks man! I appreciate any help promoting it ;)
But I don't really care about the stars too much. Most important is that it helps ppl to build maintainable software with joy and happiness :)

[2018-03-13 17:50] #517 closed

[2018-03-13 17:51] #525 closed

[2018-03-13 17:53] #524 closed

[2018-03-13 17:53] #515 closed

[2018-03-13 18:56] #532 closed

[2018-03-13 20:23] vcekov opened #534 "connectFactory: poisoning props of BaseComponent"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela     | 6.2.4+   |

#### Description
Components created by Fela’s connect (through `connectFactory.js`) are not pure components. This leads to recreating the styles and rules props even when the props passed to a Fela component haven’t actually changed. This causes the props passed to `BaseComponent` to appear as changed, so the

[2018-03-13 20:34] TxHawks commented on #473
@rofrischmann -
Any update on this? Anything I can do to help? I'm being but by this pretty often lately.

[2018-03-13 21:41] rofrischmann commented on #473
Huh, I need to check back on this. Lost the trace at some point, will tell tomorrow.

[2018-03-18 08:11] dlee opened #538 "createComponent wrapping createComponentWithProxy passes through unwanted props"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.0.x   |

-------------------
#### Description
Wrapping a component created by `createComponentWithProxy` with `createComponent` bleeds all properties into the DOM element, regardless of the `passThroughProps` declared in `createComponent`

#### Steps to reproduce
[code]

#### Expected Behavior
[code]

#### Actual Behavior

[2018-03-18 22:13] osdevisnot opened #539 "Provide Fela Bindings for Hyperapp"
**Type**: Feature
-------------------
#### Proposal
Provide [Fela](http://fela.js.org/) Bindings for [Hyperapp](https://github.com/hyperapp/hyperapp), which would make Fela integrations with Hyperapp seamless.

#### Why ?
Created by @jorgebucaran. Hyperapp seems to be trending well in JS Framework land, and we want to try it out in our project where we use Fela for styling

![image](https://user-i

[2018-03-20 20:25] sgrishchenko opened #540 "fela-identifier breacks pretty selectors"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela-identifier     | 1.0.x   |

-------------------
#### Description
When use fela-identifier and fela-monolithic, pretty selectors not working.

[2018-03-21 17:58] brianespinosa opened #542 "Feature Request: fela-plugin-validator to alert on props used that are not passed to Fela createComponent()"
#### Proposal
One very common issue my team and I experience when working in an application that is slowly moving to Fela components is when trying to use a prop inside of a component that is being passed down, we sometimes also miss explicitly defining passthrough props in `createComponent()`.

It would be great if fela-plugin-validator could alert us if we are trying to use a prop in a component

[2018-03-22 08:29] jmike opened #544 "Feature request: Switch between `node.textContent` and `insertRule` using flag"
Hey guys, this might sound weird, but here goes...

I am using fela-dom in production. My client wants to use an analytics tool called HotJar (https://www.hotjar.com), which provides heatmaps and usage recordings. Unfortunately hotjar doesn't support `CSSStyleSheet.insertRule`, resulting to garbage data.

That said, I'd be great if we could switch between `node.textContent` and `insertRule` with a

[2018-03-22 08:33] jmike commented on #544
btw here's a related issue with styled-components: https://github.com/styled-components/styled-components/issues/1603

[2018-03-22 08:41] jaggli commented on #544
Struggling with hotjar, since a while now. This is so much needed.

[2018-03-22 08:45] jmike commented on #544
Here's hotjar's official response to this issue...

[code]

[2018-03-22 19:26] sgrishchenko commented on #542
I think it is no possible realize without Proxy. How I can define that you trying read property inside Component? And fela-plugin-validator can not do this too. It does not know anything about components. It know only about rules, that you pass into `renderRule` renderer method (this is what actually does `createComponent()`). If you have good ideas - suggest (or pull request).

[2018-03-22 23:31] brianespinosa commented on #542
I think I am proposing this as a solution in development environment. So if the solution to this requires the use of Proxy, then great. In a way, this seems like a lint type rule within a given file... which is why I was not sure if this plugin was the best place to suggest this.

[2018-03-23 18:04] alanhogan opened #547 "Feature request: Ability to undo `renderStatic`"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.3   |

-------------------
#### Description
There does not appear to be a way to remove styles added with `renderStatic`. Sometimes global styles are desirable only during particular application state. (E.g., a drag&drop library that requires a `move` cursor set on all elements during drag & drop.)

#### Proposal

Ma

[2018-03-27 15:50] jaggli commented on #544
For those who can not wait, I made an ugly but working hack. After some intense trial and error, I ended up by just synchronising the grabbed styles into the beginning of the <head> tag, so the following 'real' ones still can override everything. Synchronization is done twice per second by using getAnimationFrame(), so this might result in a style-update delay in Hotjar recordings of max 500ms, wh

[2018-03-27 16:20] oschade commented on #465
It's the same with pseudo classes like ":selection" or ":before". It's an unexpected behaviour, that they work with "renderRule" bot not with "renderStatic".

[2018-04-04 07:24] rofrischmann commented on #547
Sounds like the perfect use case for another enhancer! But feels like it could get quite tricky. How about undoing static styles rendered on the server? You would not have the returned object to undo that at all.

[2018-04-04 07:31] rofrischmann commented on #539
Hey @osdevisnot,
Would you be open to send a PR with bindings? I'd love to the that being merged and released ;)

[2018-04-05 06:25] jorgebucaran commented on #539
@rofrischmann Could you show us an example of fela bindings, maybe from a previous PR? 🙏

[2018-04-05 20:01] brianespinosa opened #550 "Display component name with CSSLint error in fela-plugin-validator"
#### Proposal
I love the ability to use CSSLint with the validator plugin. One issue I've noticed though is when enabling this feature in our renderer for a decent library of existing Fela components is the console error does not include the name of the component that is creating the error.

[code]

Even when expanding the error stack trace it is not easy to see which actual component is throwing

[2018-04-07 18:46] #540 closed

[2018-04-07 18:47] #534 closed

[2018-04-11 23:12] brianespinosa opened #552 "fela-plugin-validator to support CSSLint rule configuration or root .csslintrc file"
#### Proposal
Currently when CSSLint is enabled, I cannot see a way for us to pass a configuration to it so we are forced to use all of the default rules. You can technically disable rules with the per-line syntax as long as you include that comment as part of your style definition.

The problem with this is the comment then gets rendered into the atomic class/style.

**Current Example**:
[code]
I

[2018-04-14 13:28] sgrishchenko commented on #552
I have not ideas how support .csslintrc file because linting performed in browser and for this to work you need pack .csslintrc into bundle. But I will support passing js object into plugin configs.

[2018-04-16 07:49] rofrischmann commented on #550
I am not sure if we can actually add this in general, because fela rules do not know anything about the used component.
We might add a "magic prop" to the react-bindings that ships the displayName, but Im not a huge fan of overhead just for the sake of logs, yet I understand why its important.

@sgrishchenko @TxHawks Any ideas for this one?

[2018-04-16 08:29] sgrishchenko commented on #550
i see 2 ways:
1) make fela-plugin-validator an enhancer
pros:
a) it give ability pass debug information from components to user
cons:
a) this is a very large-scale change and it will be necessary to develop a migration plan
b) it seems not very right to adjust the plugins for the needs of specific frameworks, the plugin then becomes indirectly dependent on the fel-bindings

2) to think of how to c

[2018-04-16 08:30] sgrishchenko commented on #550
there is a third option - not to support this 😊
the more I think about how difficult it will be to realize this and about the benefits it will bring, I'm increasingly inclined to the third option...

[2018-04-16 08:30] sgrishchenko commented on #550
On the other hand: the plug-in displays a fairly detailed error and the developer chooses to suit this kind of css-rule or not. If satisfied - it can ignore these messages or disable them at the configuration level. If it does not, then the developer will have to search for case studies that he learned from the message in the whole project, regardless of which component.

[2018-04-18 13:15] #552 closed

[2018-04-19 21:29] dzearing commented on #473
@rofrischmann What is your solution to this problem? I'm very interested in your thoughts. I have a few ideas.

[2018-04-20 11:41] rayronvictor opened #557 "Will Fela adhere to ISTF spec?"
**Type**: Question

-------------------
#### Description
Is there any plan to adhere to the [ISTF spec](https://github.com/cssinjs/istf-spec)?

[2018-04-20 19:38] kitce opened #558 "FelaComponent does not concatenate the passed className"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.7   |
| react-fela | 7.2.0 |

-------------------
#### Description
By using `FelaComponent` as an alternative of `createComponent`, I found that `FelaComponent` does not concatenate the `className` prop given by parent element.

#### Proposal
Make `FelaComponent` to accept `className` so that the parent element can p

[2018-04-23 12:52] kitce commented on #558
I know there is always a way to solve a problem, but it could have more clean code by implementing in this way, and even get rid of the custom prop/variable names:

[code]

[2018-04-26 13:45] rofrischmann commented on #558
I think it would be nice to concatenate classNames' as I often use the shorthand version:

[code]

Using that with third-party classes seems like a massive use case to some.

[2018-04-26 13:46] rofrischmann commented on #557
Probably as soon as the work's done building a compiler and so on. Right now, I don't plan to add any of that to Fela's core directly.

(Not because I don't like the idea, but because it'd be a lot of work and I simply don't have any time anyways)

[2018-04-26 13:47] #557 closed

[2018-04-26 13:49] rofrischmann commented on #544
We'd be happy to accept an PR that adds this functionality.
It's not a general issue with Fela, so I can't allocate time for it right now.

[2018-04-26 13:54] rofrischmann commented on #473
I couldn't find any time to check back on this by now, my bad.
I'd love to share all the ideas and stuff that already happened (there is a feature branch to check out btw.)

My core idea was to have an algorithm that calculates a score for each selector (including pseudo + @media+ @support) in order to dynamically "sort" rules. That exact score could be used to add rules at a certain place within

[2018-04-26 14:37] TxHawks commented on #558
I'll take care of it over the weekend

[2018-04-26 14:44] TxHawks commented on #558
But how about using a different name for this prop? I just think the shadowwing could be confusing when people do use the render prop pattern:

[code]

It can be a bit confusing that `className` inside the function isn't actually the same as the `className` prop.

Maybe call it something else that will be a bit more explicit? Best I can come up with is `customClass`, but happy to take other sugges

[2018-04-28 12:04] TxHawks commented on #558
The pull request is ready at #560. It currently uses a `customClass` prop, but I'm happy to change that if there is consensus that `className` (or anything else) is better

[2018-05-01 16:55] HerbCaudill opened #562 "fela-monolithic with fela-plugin-important: fixed className property doesn't work"
**Type**: Bug

-------------------
#### Description

When using `fela-monolithic`, `fela-plugins-important` adds `!important` to any fixed `classNames` in the rendered HTML (not in the CSS rules).

#### Steps to reproduce

1. Enable the `fela-monolithic` enhancer and the `important` plugin.

[code]

2. Create a rule with a `className` property, and assign that rule to a DOM element or React compon

[2018-05-02 12:07] #562 closed

[2018-05-02 12:08] #558 closed

[2018-05-31 13:39] stephenpitchford commented on #544
This shouldn't be a problem with the Hotjar tracking anymore. A change was released that allows the script to deal with styles added using insertRule.

[2018-05-31 13:42] TxHawks commented on #544
@stephenpitchford Any chance you can share a link to the changelog or relevant announcement?

Thanks

[2018-05-31 14:09] stephenpitchford commented on #544
@TxHawks Unfortunately there isn't any official changelog or announcement with this change noted in it.

[2018-05-31 15:56] TxHawks commented on #544
@stephenpitchford so how did you find out about it?

[2018-06-04 11:10] MICHAspb opened #569 "The problem with responsive"
Not correctly reads specified screen sizes.
in head exhibited sizes 992px and then only 768px. As I understand it should be the opposite
Аccordingly, the same behavior on the page.

how to solve the problem?

[2018-06-04 17:54] TxHawks commented on #569
I'm not sure I understand what you mean. Can you point me to a code example?

[2018-06-04 19:40] MICHAspb commented on #569
https://github.com/MICHAspb/test/tree/master/src/Content  -  this section.

When you change the screen size, styles for screen 992px do not apply. Uses styles for screen size 768px.

Errors in the code have not noticed.

[2018-06-08 20:50] bkniffler opened #571 "Incompatibility with recompose withPropsOnChange, maybe due to hoisting getDerivedStateFromProps"
Latest recompose introduced getDerivedStateFromProps and it causes issues with withTeme decorator.

Here is a simple example:
https://github.com/bkniffler/fela-recompose-issue

Maybe we could have https://github.com/mridgway/hoist-non-react-statics instead of the custom hoisting function?

[2018-06-09 11:46] rofrischmann commented on #571
Did you try if that actually fixes the problem? If so, would you mind sending a PR to alter the current code? (I'd not like to use hoist-non-react-statics, as we also serve Preact and Inferno, which don't need all the settings over there)

[2018-06-09 11:49] rofrischmann commented on #569
Looks like you have to configure the media query order. See http://fela.js.org/docs/advanced/RendererConfiguration.html for more information.
e.g.
[code]

[2018-06-09 11:49] #569 closed

[2018-06-09 11:51] rofrischmann commented on #550
I'm closing this for now, as of today it's not really possible to implement that without direct coupling of unrelated aspects. We might get back on track with some major changes coming up that might support integrating like that, but I'm not entirely sure about it.

[2018-06-09 11:51] #550 closed

[2018-06-09 11:52] rofrischmann commented on #544
@stephenpitchford Thanks for reaching out! Seems like we can close this one then. I'd like to reduce options and complexity as much as possible =)

[2018-06-09 11:52] #544 closed

[2018-06-09 11:54] rofrischmann commented on #539
Any help on this one? I'd love to have those bindings and might even try to implement them, but I don't have the time to experiment that much.

[2018-06-09 11:59] rofrischmann commented on #538
Alright, these HoCs are driving me mad 😅
I'm experimenting with some major changes that will reduce the complexity and issues with those by simply replacing all HoCs entirely (providing a codemod of course).

[2018-06-09 12:05] rofrischmann commented on #484
Closing this for now. I got 0 time to work on bredon and/or elodin atm and I also more and more feel like JS is simply too dynamic to do compile-time optimisations of that type...

[2018-06-09 12:05] #484 closed

[2018-06-09 12:06] rofrischmann commented on #473
alright im going to tackle this again soon.

[2018-06-09 19:15] dzearing commented on #473
Ah, sorry @rofrischmann for not getting back sooner!

So yes, I think calcing a score for each selector could work; it does imply that you'd need to add some complexity (which in turn might add some bundle size and maybe perf overhead.) For example when inserting new rules, you'd need to track each style element separately per score.

I am not familiar with the fela codebase (but this problem was

[2018-06-19 07:09] danielstocks opened #578 "Make fela-plugin-rtl initializer return a named function"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela-plugin-rtl     | 1.0.6   |
| fela-plugin-unit | 5.0.17 |

-------------------
#### Description
I'm trying to add/remove plugins dynamically from the renderer. In this case it's because i need to toggle RTL rendering for react components in a storybook.

Since the plugins are just an array of functions, the easiest way to pop t

[2018-06-19 08:50] rofrischmann commented on #578
Heyo!

Do you need to rerender everything after updating the plugins? Or just silently switch out the plugins?
Going by name doesn't feel very safe to me (although, if only for storybook, it's totally plausible :P)

[2018-06-19 14:47] danielstocks commented on #578
So I was able to solve this by assigning a faux name property to the rtl plugin.

But yeah i agree it's probably not a very good long term solution. I will open a new issue with the "real" issue which is about being able to switch out plugins.

[2018-06-19 14:47] #578 closed

[2018-06-19 17:08] rofrischmann commented on #578
Alright! We could create an enhancer that enables reloading plugins and rerenders everything, because simply replacing the plugins won’t reevaluate all the styles.

Btw, off topic: just found your managing vcc-ui on npm (explored fela’s dependants). Are you working at Volvo? Would love to add it to the “Users” list ;)

[2018-06-20 12:55] josemussa opened #579 "Wrong order of style elements on react-fela"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| react-fela     | 7.x.x   |

-------------------
#### Description
When you create components using `createComponent` or `createComponentWithProxy` and your renderer is enhanced with `fela-monolithic` the order of the style elements is wrong, this is explicitly obvious when you're using media queries:
<img width="524" alt="screen shot 20

[2018-06-28 05:37] kwirke opened #580 "react-fela: A word on transitions / animations"
**Type**: Docs

| Packages | Version |
| -------- | ------- |
| fela     | 6.0.x   |

-------------------
#### Description
In trying to perform a simple CSS mount/unmount transition in react-fela, I had a hard time:

Trying to use `react-css-transition-group` was of no use, because it injects classNames into your component. That is kind of a colliding paradigm with Fela's state-in styles-out parad

[2018-06-28 08:55] AugustinLF commented on #580
By the way, `react-transition-group` works really well with `react-fela`, since you'll pass a `entering | entered | exiting | exited` prop to your component, which let you work with animations directly with `createComponent`.

[2018-06-28 09:03] kwirke commented on #580
Wow, I didn't know that. Do you have any example at hand? I imagine it's related to `@keyframes`, which I still need to dive deeper into.

My problem was less with animations than with CSS transitions on mount/unmount, which depends on React and the component's lifecycles.

Anyway, I think the docs could really receive a boost on that regard, and I'd be happy to help.

[2018-06-28 09:16] AugustinLF commented on #580
Small example, not sure it "works", since it's a rough copy/paste from my codebase:
[code]

And yep, I agree that docs could be improved, I'm pretty sure your example could end up in the docs, feel free to open a PR :)

[2018-06-28 09:19] rofrischmann commented on #580
Any kind of PR that improves the usage experience with Fela is always welcome =)
I actually did not use any of those tools but plain old keyframes all the time, can't tell what works best.
Only thing I can tell you: If you're animating properties with dynamic values (in cases where keyframes might not work) you should consider using inline style instead of Fela as creating new CSS classes etc. mig

[2018-06-28 11:12] kwirke commented on #580
Thank you both!
I can see my implementation can indeed affect performance, since it will re-render quite an amount of times, instead of letting the transition to the native CSS engine, as @AugustinLF 's solution does.

I adapted the gist to the solution he proposed using `react-transition-group`: https://codesandbox.io/s/0y3734p5vn

I was using version 1.x, that's why I didn't find this feature.

[2018-07-05 16:05] #571 closed

[2018-07-05 16:19] rofrischmann commented on #579
This should be fixed as soon as #573 merged.
But keep in mind that `fela-monolithic` is not intended to be used in production. It does not guarantee that everything works perfectly in production.

[2018-07-05 16:35] rofrischmann opened #583 "Release 05/07/18"
# Release Notes

## ToDo
- [x] Changelog
- [x] Migration
- [x] Documentation
- [x] Release
- [x] Remove Packages

## Packages

#### Major

#### Minor
- fela-plugin-unit

#### Patch
- fela-bindings
- babel-plugin-fela
- fela-plugin-remove-undefined
- fela-plugin-dynamic-prefixer
- fela

## Removing
- babel-plugin-fela
- fela-plugin-remove-undefined
- fela-plugin-dynamic-prefixer

[2018-07-05 18:01] #583 closed

[2018-07-06 06:33] wagerfield opened #584 "fela-plugin-remove-undefined deprecation warning from fela-plugin-extend"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.9   |
| fela-plugin-extend     | 6.0.7   |

-------------------

#### Description

Since upgrading `fela` and `fela-plugin-extend` I am seeing a `fela-plugin-remove-undefined` deprecation warning. This is because `fela-plugin-extend` is [using this plugin internally](https://github.com/rofrischmann/fela/blob/master/packa

[2018-07-06 06:39] rofrischmann commented on #584
Heyhey! Yeah apparently I totally forgot that fela-plugin-extend requires the remove-undefined plugin 😅 I already fixed that in master, but need to release it as a quick fix soon. Thanks for reporting =)

[2018-07-06 07:00] wagerfield commented on #584
Out of curiosity, why does the extend plugin require it? Would it not work with this plugin wrapper removed?

[2018-07-06 07:16] rofrischmann commented on #584
Hmm yeah. As plugins run before the style object resolver does its work it should just work. The only issue is: the extend plugin might cause undefined values (by accident at least if something undefined is passed in) which then might yield weird behaviour within other plugins that guarantee no undefined values^^

[2018-07-06 08:10] wagerfield commented on #584
Gotcha—so if I had:

[code]

Then `color` would be set to `undefined` within the `extension` object and override `color: "red"` in the `style` object.

Given that the renderer is [using `isUndefinedValue` to skip `null` or `undefined` values](https://github.com/rofrischmann/fela/blob/master/packages/fela/src/createRenderer.js#L253)—perhaps you should create a small utility function in the `fela-ut

[2018-07-09 22:33] brianespinosa commented on #580
Lovely stuff, @kwirke, @AugustinLF. Thanks for sharing. I really love this solution... significantly more than one I implemented in my own application. And I was not thinking about the performance issue that @rofrischmann mentioned. I am definitely going to rework how this is implemented in my own ecosystem now. Great idea adding this to the docs.

[2018-07-10 20:17] ernestofreyreg commented on #427
@rofrischmann While using Storybook, deleting css props doesn't work. Only new props and modified props are updated on hot module reload.

[2018-07-18 23:59] mfdj opened #589 "react-fela: componentWillMount is unsafe React.StrictMode"
**Type**: ~Bug~ Improvement

| Packages | Version |
| -------- | ------- |
| react-fela     | 7.1.0   |
| fela     | 6.1.5   |

-------------------
#### Description

Promoting this comment to an issue https://github.com/rofrischmann/fela/issues/532#issuecomment-380403527:

#### Steps to reproduce

1. Enable [React.StrictMode](https://reactjs.org/docs/strict-mode.html)
2. Implement a component usin

[2018-07-19 07:03] rofrischmann commented on #589
It's not actually a bug, but a known issue with never React versions. Anyways, it should work as expected for now. We're working on a rework of all the bindings to support newer React features soon :)

[2018-07-31 21:19] micimize opened #590 "TypeScript typings for fela-native"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela-native     | 5.0.22  |

-------------------
#### Description
The `fela-native` renderer is missing typings.

#### Proposal
It's very similar to `react-fela`'s renderer, so maybe we can copy-paste for the most part.

[2018-07-31 21:26] rofrischmann commented on #590
Feel free to send a PR for those types :)
I'm not using TypeScript so I don't have a high priority for those :P

[2018-08-04 15:33] micimize opened #591 "fela-plugin-native-media-query renderer undefined"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela-plugin-native-media-query     | 6.0.9   |

-------------------
#### Description
The [renderer](https://github.com/rofrischmann/fela/blob/master/packages/fela-plugin-native-media-query/src/index.js#L31) in `fela-plugin-native-media-query` is not defined

[2018-08-06 08:42] kserjey opened #592 "Compose passThroughProps"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.9   |
| fela-preset-web | 8.0.8 |
| react-fela | 7.3.1 |

-------------------

#### Description

I have a primitive styled component (ex. `Button`) and want to create another component on top of that primitive (ex. `SuperButton`) with props to dynamically change styles. My primitive component passes all props to HTML ele

[2018-08-06 19:21] micimize opened #593 "fela-native caches before applying plugins"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela-native     |  5.0.22  |

-------------------
#### Description
[caching before applying plugins](https://github.com/rofrischmann/fela/blob/master/packages/fela-native/src/index.js#L41-L44) causes the media query plugin to only be applied on the first render or on other rule changes.

#### Steps to reproduce
1. Add media query to ru

[2018-08-08 19:57] Enalmada commented on #318
Redux is common enough that it might be a good idea to update the examples with this to avoid any chance of confusion.  As a new user, I put renderer={renderer} right into my react-redux provider feeling like I was following the example.

[2018-08-09 19:44] micimize commented on #593
Turns out there was an issue in a different dependency as well, so it's possible this wasn't the problem, but I'm leaving open as it looks very much like it should be an issue

[2018-08-10 20:16] fersalas opened #594 "fela-plugin-named-keys not rendering <style> tags in the correct order."
**Type**: Bug / Feature / Infrastructure / Docs / Question

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.x   |
| fela-plugin-named-keys     | 1.0.x   |
-------------------
#### Description
`<style>` tags generated by fela containing media queries are generating in an incorrect order. This makes media queries overlap.

#### Steps to reproduce
Apply this object of named media queri

[2018-08-11 16:11] rofrischmann commented on #594
Looks like you'd need to apply a `mediaQueryOrder` too. Check out the documentation:
http://fela.js.org/docs/advanced/RendererConfiguration.html

[2018-08-11 16:11] #594 closed

[2018-08-11 16:14] rofrischmann commented on #592
This looks like a duplicate of #538
Will close it here, but thanks for reporting.

[2018-08-11 16:14] #592 closed

[2018-08-11 16:31] kserjey commented on #538
When you plan to release that?

[2018-08-12 13:44] astrada opened #595 "createComponentWithProxy: extractUsedProps may throw an unhandled exception"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela-bindings     | 1.3.4   |

-------------------
#### Description

Error rendering a component created with `createComponentWithProxy`, when the passed rule throws an exception if one of the properties is undefined. I think the problem is that when extracting used properties, the rule is invoked passing an empty props object, so this

[2018-08-13 14:55] Nitive opened #596 "fela-monolithic with prettySelectors: true doesn't escape characters in displayName"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela | ^6.1.9 |
| fela-dom | ^7.0.9 |
| fela-monolithic | ^5.0.23 |
| react-fela | ^7.3.1 |

-------------------
#### Description
`fela-monolithic` with `prettySelectors: true` doesn't escape characters in class name such as parenthesis.

#### Steps to reproduce

1. Create component
2.  Add displayName with symbols which needs to be es

[2018-08-15 20:26] rofrischmann commented on #579
Would be great to retry this now.

[2018-08-15 20:26] #579 closed

[2018-08-15 20:26] #473 closed

[2018-08-16 19:47] gbouteiller opened #598 "Sorting problem after upgrade"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.2.0   |

-------------------
#### Description
After upgrading to the last version of fela, I came across a weird issue : the css that I rendered statically were not ordered anymore.

#### Proposal
 After investigation, I found that it was due to the sort method in clusterCache in fela-utils that was returning 0 which leade

[2018-08-16 20:12] rofrischmann commented on #598
Hmm, can you give me some example code? I actually tested that behaviour and it seems fine to me. Returning 0 in a sort function won't reorder the array right?

[2018-08-16 20:27] rofrischmann commented on #596
Heyhey, thanks for reporting!
Would you like to send a PR fixing the issue? I may guide to the correct code snippets and help out if required.

[2018-08-16 21:01] rofrischmann commented on #591
Oh damn, you're right. would you like to send a PR to fix that? All we have to do is adding the required parameters:
[code]
where the types are:
[code]

[2018-08-16 22:35] micimize commented on #591
@rofrischmann I've moved to using a custom solution that better matches my use case, so getting this fixed is no longer a priority for me.

[2018-08-17 03:52] gbouteiller commented on #598
It happened in an existing application, so I'll try to reproduce it with a less complex example and give you a link.
About returning 0, in fact, it can reorder the array and that is the problem. I got the info from [Mozilla documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort) :

In fact, when I replaced your code by always returning 0 and chec

[2018-08-17 12:56] gbouteiller commented on #598
After further investigation, I was wondering why it was working on my simple example and not in my nuxt application and in fact, it was... till the number of keys to sort was superior to 10.
It turns out that the problem only appears on **server side** because of **nodeJS** implementation of  `sort` : [Here](https://www.linkedin.com/pulse/javascript-v8-sorting-algorithm-behind-scene-arraysort-maza

[2018-08-17 13:36] rofrischmann commented on #598
Oh my... so shipping a custom sort solution should do the job as well right?

[2018-08-17 18:34] gbouteiller commented on #598
I think it will do, yeah :)

[2018-08-18 13:32] rofrischmann commented on #598
Alright, got a solution ready (even better one) that I’ll release today or tomorrow.
Am on my way to vacation right now = no internet in the car

[2018-08-19 13:12] JZBo opened #600 "fela-monolithic not rendering styles"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela-dom   | 8.0.0   |
| react-fela     | 8.0.0   |

-------------------
#### Description
Greetings.
I have been using fela in an ongoing electron application project together with react (16.X), electron (2.X), redux (4.X), babel (6.X) and webpack (4.X), and have had no special issues so far. On the contrary, fela is my favourite CSS i

[2018-08-19 16:16] rofrischmann commented on #600
Heyhey, thanks for that detailed issue!
Could you please try it without fela-monolithic? Maybe that’s somehow causing the issue as I did not test that one in particular...
Otherwise, it’d be good to just downgrade and stay until we’ve found the issue.
Sorry for th inconvenience and thanks for the kind words at the begining ;)

[2018-08-19 20:33] Nitive commented on #596
@rofrischmann done!

[2018-08-20 06:42] AgtLucas commented on #579
@rofrischmann Still the same issue after upgrading fela...

Here's my renderer:

[code]
Here's the result:

<img width="889" alt="screen shot 2018-08-20 at 08 39 40" src="https://user-images.githubusercontent.com/1909761/44324070-ac510880-a454-11e8-8fcc-1c01206ebee6.png">

The same happens if I remove `mediaQueryOrder` completely, so I'm wondering maybe it's something wrong in our implementation.

[2018-08-20 14:32] JZBo commented on #600
Hey there, thanks for the quick reply.

I can confirm you that the fault seems to be reside in **fela-monolithic**: Disabling the monolithic enhancer in my config after updating again to the latest v8 version seems to solve the problem.

When the monolithic enhancer is off, the style tag is filled with the fela rules (although, obviously, with non-monolithic class names), and everything works corr

[2018-08-22 15:21] JZBo commented on #600
I have another minor update to make.

Even disabling fela-monolithic, there's still something off in the behaviour of the latest **fela-dom** and **react-fela** v8 packages in the context of an electron application:

Normal behaviour until this update was for the <style data-fela-type="RULE"> to be filled with the actual rules, whether monolithic or not.

With version 8 of the abovementioned packa

[2018-08-29 10:46] bkniffler commented on #600
There clearly is some problem with fela-monolithic, after doing my annual `yarn upgrade-interactive` routine, fela would break since style tags are empty. Disabling monolithic has fixed the issue.

[2018-08-29 12:15] PepijnSenders opened #602 "Monolithic prettySelectors"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 7.0.x   |

-------------------
#### Description
In the latest `react-fela` version the `ruleName` is now prefixed with the `Component` which causes the CSS to break when the `displayName` of the `Component` contains invalid characters. Like `(` or `)`. `fela-monolithic.prettySelectors` uses this `ruleName`.

[2018-09-01 06:36] ivan-zakharchuk commented on #196
I have the same issue with the latest fela/react-fela and the mentioned trick doesn't help(as you can see on the screenshot below the content wasn't added and hence element is not rendered), were some changes made for ":before", ":after" nesting?
<img width="395" alt="screen shot 2018-09-01 at 9 34 19 am 1" src="https://user-images.githubusercontent.com/12155794/44943158-68ea8880-adca-11e8-8507-0a

[2018-09-01 06:38] ivan-zakharchuk opened #603 "react-fela pseudo element"
[https://github.com/rofrischmann/fela/issues/196](https://github.com/rofrischmann/fela/issues/196) -added details here, this one could be removed as duplicate once the prev one would be reopened.

[2018-09-01 06:39] #603 closed

[2018-09-02 11:53] rofrischmann commented on #602
Hey @PepijnSenders,
thanks for reporting that issues. Apparently it's a duplicate of #596 and is fixed with #599. Will close this one =)

[2018-09-02 11:54] #602 closed

[2018-09-02 11:57] rofrischmann commented on #196
@ivan-zakharchuk Can you send a short code example (simple repo showing that problem) so I can investigate?
Would also be useful to know which versions are used here.

[2018-09-02 11:57] #595 closed

[2018-09-02 11:59] #596 closed

[2018-09-03 09:13] #598 closed

[2018-09-03 09:14] #591 closed

[2018-09-03 09:18] #593 closed

[2018-09-09 01:35] ivan-zakharchuk commented on #196
I'm sorry but it was an issue with build cache in my particular project hence issue might be closed

[2018-09-09 04:13] #196 closed

[2018-09-12 10:16] kompot commented on #600
Same here but on another project we use `fela-monolithic` with a pretty similar setup and it works fine.

[2018-09-13 16:16] alanuecker opened #606 "fela-plugin-unit adds 'px' at the end of unitless css variables"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.2.1   |
| fela-plugin-unit     | 5.1.0   |

-------------------
#### Description
The `unit` plugin will always add `px` at the end of the value since the key can not be checked for the unitless properties.

##### Example
[code]

##### Expected Behavior
[code]

##### Actual Behavior
[code]

#### Possible Solution
Maybe [isU

[2018-09-18 14:57] bkniffler commented on #431
Is anyone else having problems with safari? Not sure if its due to the latest version or since transitioning from 5 to 6 since I don't use safari, but currently my website with SSR and rehydration throws an error. Chrome/IE works fine.

Message (rehydration.js):
TypeError: null is not an object (evaluating 'e.sheet.cssRules')

Demo: https://5ba10f98b13fb109d225c95c--kniffler-ortho.netlify.com/

If

[2018-09-19 09:33] bkniffler commented on #431
Here is my config: https://github.com/orgilla/filou/blob/next/packages/core/create-renderer.es6

[2018-09-19 09:47] rofrischmann commented on #431
Can u hit me up on Gitter or Twitter? Don't think fela 6 is the issue, but rather the newer fela-dom version.

[2018-09-20 16:04] isymchych commented on #431
@rofrischmann just hit same issue like @bkniffler

For me it happens on Safari 12
`sheet` [here](https://github.com/rofrischmann/fela/blob/master/packages/fela-dom/src/dom/rehydrate.js#L52) is `null` when rule has ie-specific media query (so rule doesn't apply to Safari)

According to [mdn](https://developer.mozilla.org/en-US/docs/Web/API/HTMLStyleElement) `null` is a legal value for `sheet`, but

[2018-09-20 17:17] rofrischmann commented on #431
Oh wow. Wasn't aware of ie-specific media queries either.
Can you both confirm that rehydration works fine if you do sth. like `node.sheet ? node.sheet.cssRules : []`
Not sure how to actually test this as it only occurs in Safari?

[2018-09-21 07:30] isymchych commented on #431
yep, [this](https://github.com/isymchych/fela/commit/6ed245545b742571dd837538495c5f711dbf9ea1) fixes the issue with rehydration for me :fireworks:

[2018-09-21 11:02] rofrischmann opened #610 "Composition and passThroughProps"
**Type**: Discussion

-------------------
#### Description
In this issue, I'd like to discuss the expected output of several different composition cases.

**This is not about HoC vs. render-props!** With render-props, we do not have passThrough at all as it's on the user's side rather than within the library. This is all about using the `createComponent` API with passThroughProps.

## Example #1
[

[2018-09-21 11:06] rofrischmann commented on #610
@TxHawks @tajo Would love to hear your thoughts. More examples coming soon!

[2018-09-21 11:12] rofrischmann commented on #610
Also speaking about `createComponentWithProxy`, as soon as we mix both, we can't predictably pass the right props all the time. Check https://github.com/rofrischmann/fela/issues/538 e.g.
We can either stop passing down all props on non-DOM elements to prevent color to be leaked or add additional checks for proxy-components where it ignores composed passThrough that has been passed down. (Both conc

[2018-09-24 13:07] rofrischmann opened #612 "Synced package versions"
**Type**:  Question

-------------------
#### Description
Rather than having independent versioning, we're considering synced package versions.
This would help us to ensure semantic versioning which we theoretically try to do already, but often fails due to massive dependency complexity and unconsidered cases.

Just like Babel, React and any other bigger monorepo, that'd mean every major of any pa

[2018-09-24 13:11] TxHawks commented on #612
👍

[2018-09-24 17:58] tajo commented on #612
Do you have some specific examples?

[2018-09-24 18:14] tajo commented on #610
Interesting. **We just don't have nested `createComponent` in our codebase**. Originally we didn't know it's even possible and then we just thought it's a strange anti-pattern since there are other and better ways how to customize existing components. If I had to pick the behavior, it would be the number one - that seems the most logical implementation.

Also, we don't use createComponentWithProxy

[2018-09-24 19:18] rofrischmann commented on #612
e.g. last fela-beautifier update (patch) should have been a major due to changes in fela-dom (major). If people update the patch without having the new fela-dom major its going to break.
But I just can’t keep track of all those micro changes everywhere (even if trying to you might forget while hacking) and there’s no tool that enforces the convention.
Also in general its hard for users to understa

[2018-09-25 11:14] rofrischmann opened #614 "Add bundlephobia badge to all packages"
**Type**:  Docs

-------------------
#### Description
In order to track the bundle sizes of every package (rather than checking manually and updating the docs) we could include the bundlephobia badge. That would help to keep em up-to-date and to give the user sensitive information on the additional load each package adds.

[2018-09-25 20:14] robinweser opened #615 "Improving Documentation"
**Type**:  Docs

-------------------
#### Description
It's time to go through the docs and improve the once again.

The following list shows all the pages I'd like to improve. Feel free to suggest other improvements and additions in the comments!

- [ ] 1.1 Motivation
- [ ] 1.3 Benefits
- [ ] 3.x Rehydration
- [ ] 3.3 Plugins
- [ ] 3.x devMode vs. production
- [ ] 3.6 Combined Rules / Composing Ru

[2018-10-05 02:37] UberMouse opened #618 "Problems with fela-enzyme"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 5.0.4   |
| react-fela | 5.1.1 |
| fela-enzyme | 1.0.2 |

-------------------
#### Description
| Packages | Version |
| -------- | ------- |
| enzyme | 3.3.0 |
| enzyme-adapter-react-16 | 1.1.1 |

I'm having a few problems with fela-enzyme

1. felaShallow doesn't seem to work at all, if I attempt to use it I get an error abo

[2018-10-06 16:19] rofrischmann commented on #618
@HamidAghdaee can you check that?

[2018-10-09 19:49] wcastand commented on #614
#619 should be good for this issue :)

[2018-10-10 05:00] #614 closed

[2018-10-15 01:08] UberMouse opened #625 "Problems with TRule Typescript definition and rendering keyframes"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.2.2   |

-------------------
#### Description
The Typescript typings for a Rule function are missing the optional argument for the renderer. We use this to render our keyframes into the functions style output. Maybe this isn't the correct method? The docs aren't clear.

Assuming it is a supported method, the typings for [T

[2018-10-15 01:15] UberMouse commented on #625
I'm also wondering if the typing for `TKeyFrame` might be better served being
`export type TKeyFrame = {[keyFrame: string]: TRule`. The keys can only be keyframes, not styles right?

[2018-10-15 07:06] rofrischmann commented on #625
Feel free to send a PR improving the TS definitions! I have no experience with TS at all.

[2018-10-17 20:30] tiagojsalmeida commented on #600
We are running into the same issue.
I've tested this changes locally and they fix the issue. @rofrischmann could we merge and publish a new version?
We need this change ASAP since we are running into some performance issues and upgrading fela would fix it. (so thanks for all the continuous performance upgrades!)

[2018-10-24 08:47] #600 closed

[2018-10-24 08:47] #589 closed

[2018-10-24 08:49] rofrischmann commented on #538
Alright, so we decided to not fix this one as it creates issues with other use cases.
We recommend not wrapping both HoCs together at all or using FelaComponent.

We will release improved APIs sometime in November.

[2018-10-24 08:49] #538 closed

[2018-10-24 08:49] #610 closed

[2018-10-24 13:44] kompot opened #627 "No typescript typings in latest `react-fela`"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.2.3   |
| react-fela | 8.0.3   |

-------------------
#### Description
Looks like `react-fela` typings are nor longer published with latest (8.0.3) package. Before that I had 7.3.1 and typings were there.

![image](https://user-images.githubusercontent.com/231635/47434678-b0c6d400-d7ab-11e8-8d35-37330fbf1ab5.png)

[2018-10-24 13:50] #627 closed

[2018-10-24 13:53] rofrischmann commented on #627
Just published new versions fixing that. We forgot to add them to the published files...

[2018-10-26 12:03] bkniffler opened #629 "[Feature] Explore react hooks for react-fela"
Type: *Feature*

#### Description
React hooks is currently in alpha. Its been said clearly that HOCs and enhancers are not what the react team imagines (more on that [here](https://reactjs.org/docs/hooks-intro.html#motivation)) as conceptual best practice to inject logic to components.

I think hooks would be a nice addition to react-fela, since fela creating CSS classes and returning class names

[2018-10-27 07:54] sgrishchenko opened #630 "Migration to New React Сontext"
**Type**: Question

| Packages | Version |
| -------- | ------- |
| fela     | 6.0.x   |

-------------------
#### Description
In React 16.6.0 Legacy Context deprecated. Therefore, it is necessary to migrate to New Context API. There is a problem: Preact and Inferno still do not support New Context API. I see 3 solutions:
1. Use peerDependency for [preact-context](https://github.com/valotas/preact

[2018-10-27 08:18] rofrischmann commented on #630
I guess the cleanest way would be to pass createContext to the bindings factory, so we can use preact-context etc. without adding any additional code to the react version.
I'd love to see that happening if you're open to send an PR (was planning to do it as soon as I got a new stable API ready, but doing it now would be way better actually).

I don't want to split the bindings or drop Preact and I

[2018-10-29 18:06] oleksiibilous opened #632 "FelaDOM queryNode selects wrong node"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela-dom     | 8.0.4   |

-------------------
#### Description

`queryNode` from `fela-dom` without `media` or `support` params selects node with `media` or `support` attributes when such node is the first created node

#### Steps to reproduce

[code]

[2018-11-04 06:05] TxHawks commented on #629
I'm on board as well.

Render prod were a great intermediary API before hooks existed, but hooks are much nicer.

[2018-11-04 13:28] rofrischmann commented on #629
I guess we could replace all APIs with hooks, but I don't want to jump in to fast. Just exploring a useCSS hook is cool and I'm up for it!

[2018-11-04 13:33] TxHawks commented on #629
Maybe also a `useFelaTheme` hook? Other than that, I can't imagine needing anything else.

I think we should probably take a very conservative approach to deprecating the existing API, but do it over several major releases, and at the same time, make sure tree shaking works well (it may already work well, I didn't check), so that users only import the code they actually use.

[2018-11-05 13:46] christophediprima opened #634 "An error occurred while inserting the rules into DOM. DOMException: Failed to execute 'insertRule' on 'CSSStyleSheet': Failed to parse the rule '.fela_sz:focus:-ms-input-placeholder{line-height:20px !important}'."
| Packages | Version |
| -------- | ------- |
| fela     | 6.2.3  |

-------------------
#### Description
Since I updated to the last versions of the fela packages, I have this kind of errors in my console:
[code]

#### Steps to reproduce
Just tried to pass following structure to the renderer:
[code]

[2018-11-05 13:50] rofrischmann commented on #634
Which browser are you using?
Might be due to some new error messages that lead to false errors, we should remove those.

[2018-11-05 13:51] christophediprima commented on #634
I am using Chrome 70

[2018-11-05 14:01] christophediprima commented on #634
Also having it on latest Firefox

[2018-11-07 09:29] rofrischmann commented on #634
Fixed with #635

[2018-11-07 09:29] #634 closed

[2018-11-18 13:33] bkniffler opened #638 "Add fela to fela-bindings peer dependencies"
Hey there,
trying to use pnpm, the only package that has an issue is `fela-bindings`, since it uses fela without having a reference in package.json to "fela" (except in devDependencies). Could you add a reference (maybe as peerDependency) in future `fela-bindings` versions so users can use pnpm?

[2018-11-26 21:36] milesj opened #639 "Missing TS types"
**Type**: Bug / Feature / Infrastructure / Docs / Question
Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.2.3   |

-------------------
#### Description

Just noticed some TS types are missing for some things.

- `fela` - `devMode` is missing for `createRenderer`.
- `fela-plugin-important` is not typed at all.

I'll update this list if I run into more.

[2018-11-26 22:37] milesj commented on #639
Can do. I'll submit something in a bit.

[2018-11-26 23:02] rofrischmann commented on #639
Wooho, amazing! Thank you 🤗

[2018-11-28 17:16] reinhard commented on #639
The current Fela typings do not contain the declaration for FelaComponents.
For this reason I add following declaration to my projects:

[code]
I could provide a pull request but I'm not sure against which branch (simple-robust-api?) and if it is as simple as adding the declaration to Fela's index.d.ts. It would be helpful if someone more knowledgeable about this topic can give some guidance, espe

[2018-11-29 17:20] MarcNq opened #640 "Cannot read property 'css' of null when using fe"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela-bindings | 3.0.2 |
| fela     | 6.2.2   |
| react-fela | 8.0.2 |

-------------------
#### Description
When using [fe](http://fela.js.org/docs/api/bindings/fe.html) function and JSX override, Fela will crash upon any component without props with error `TypeError: Cannot read property 'css' of null`

Adding any prop solves the issu

[2018-12-01 16:51] rofrischmann commented on #639
Just send a PR against master if possible and don't think about cC and cCProxy, we will keep em for now. Might reconsider that later.

[2018-12-01 16:57] #630 closed

[2018-12-01 16:59] #638 closed

[2018-12-01 17:04] #640 closed

[2018-12-05 22:33] milesj opened #642 "Font face warns on webpack hashes"
**Type**: Bug / Feature / Infrastructure / Docs / Question
Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.2.3   |

-------------------
#### Description
We use webpack to import font assets into JS scope and then reference these paths for `@font-face`. This works, but webpack appends a query string hash, which causes Fela to throw warnings.

"A invalid font-format was used in "/a

[2018-12-12 08:55] #612 closed

[2018-12-14 10:19] rofrischmann commented on #629
Alright, now that we have React 16 support, I hacked a bit on hooks and it took me 10 mins to get them work - dang I love it.

I got two different APIs for you, please tell me the prefered one.
[code]
vs.
[code]

I personally prefer the second one :P
In both ways, css has the following signature `(...obj) => className` so we can use that to compose styles by passing a second obj e.g. (awesome for

[2018-12-14 17:39] TxHawks commented on #629
I prefer the second one as well. Don't see much point in having two separate hooks.

However, I think there is one pretty common use case that isn't addressed by the current API. In larger components, when the style rule gets more complex than just a few properties, I often extract it to an external function, mostly for readability.

That's why we pass non fela-related props to the `style` functio

[2018-12-14 17:55] milesj commented on #642
Yeah everything still works fine, just logs the warning.

[2018-12-20 00:51] rapheld opened #649 "Allow first param of createComponent(WithProxy) to be optional css rule object"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela     | 6.x   |

-------------------
#### Description
I often have static css rules. In these cases, it would be nice to pass in an object to `createComponent` and `createComponentWithProxy` instead of being required to wrap it in a function.

#### Proposal
 I would like to see `createComponent` and `createComponentWithProxy` ch

[2018-12-21 11:46] rofrischmann commented on #649
You're using version 6 right? The newly released Fela 10+ already supports plain object usage :P
I'll add a test later to show that. For now I'll close this issue.

[2018-12-21 11:46] #649 closed

[2018-12-21 15:07] troch opened #650 "10.0.2 doesn't include new build"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 10.0.2   |

-------------------
#### Description

10.0.2 doesn't appear to have an up-to-date build: for instance, issue with `ThemeProvider` not updating its children (#645) or deprecation warning fix (#646) are still there.

[2018-12-21 15:08] troch commented on #650
Ah, maybe not. Hang on, checking again.

[2018-12-21 15:11] troch commented on #650
My bad, it was on my side, apologies for the notifications...

[2018-12-21 15:11] #650 closed

[2018-12-21 19:38] rapheld commented on #649
Well..exellenct! ;)

[2018-12-29 13:17] sgrishchenko commented on #629
I think it good solution. And i can use this approach for multi-rules too.
[code]

[2018-12-29 18:33] sgrishchenko commented on #629
How about exporting the renderer? So that the user has the opportunity to draw a keyfram or something like that.
[code]

[2018-12-31 16:07] brianespinosa commented on #629
@rofrischmann I prefer the second as well.

@TxHawks brings up some good points regarding extendability, which will be important using Fela in a large UI library.

[2019-01-20 15:02] EranM6 opened #657 "fela-plugin-extend crushes on undefined"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.7   |
| react-fela     | 7.2.0   |
| fela-plugin-extend     | 6.0.11   |

-------------------
#### Description
Passing `undefined` to the `extend` array throws a reference error about `hasOwnProperty of undefined`.

#### Steps to reproduce
[code]

#### Expected Behavior
`undefined` should just be discarded

[2019-01-20 17:00] TxHawks commented on #657
The culprit is [fela-plugin-extend/src/index.js#L25](https://github.com/rofrischmann/fela/blob/master/packages/fela-plugin-extend/src/index.js#L25):
[code]
It assumes `extension` is not `null` or `undefined`. All we need to do to fix this is change the condition to be  `if(extension && Object.prototype.hasOwnProperty.call(extension, "condition")) {` and we're golden since we use `removeUndefined`

[2019-01-23 03:41] jwineman commented on #580
Has this been PRd to the docs yet?  I'd be happy to do it while its fresh in my mind if not.

I modified the above solutions slightly:
[code]
Use case:
[code]

[2019-01-23 07:14] rofrischmann commented on #580
Would love to see a PR! Never actually happened

[2019-01-23 17:37] MattCrouch opened #659 "Silent errors kill styles when styling pseudo elements"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela         | 10.1.1   |
| fela-dom    | 10.1.1   |
| react-fela   | 10.1.1   |

-------------------
#### Description
While upgrading our Fela packages to the latest versions, we discovered some styling was not being applied.

It appears that when trying to add styles to a pseudo element that the browser does not understand, it then s

[2019-01-23 20:14] rofrischmann commented on #659
Oh, that's an interesting case indeed! We try-catch the insertRule calls as the browser would throw otherwise, but it feels odd that it doesn't render the next styles anymore...

[2019-01-24 07:41] rofrischmann commented on #659
Oh you're right! Didn't think about that one. We should reset that index to the previous value if the try catch fails. (or only actually set it after the insertRule call to make sure it works).
Would you like to send a PR? I can help out if there's any question - that way it'll be fixed and published way sooner as I don't have that much time atm.

[2019-01-24 10:52] #657 closed

[2019-01-25 11:06] #659 closed

[2019-01-25 11:06] #629 closed

[2019-01-28 17:39] layershifter opened #664 "`devMode` is broken with multiple renderers"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| `fela`     | 10.1.3   |
| `react-fela`     | 10.1.3   |

-------------------
#### Description
`devMode` option breaks multiple renderers.

#### Steps to reproduce
One example is worth a thousand words 😸
https://codesandbox.io/s/711kjkr1o6

#### Expected Behavior
Everything works.

#### Current Behavior
Styles are applied only for secon

[2019-01-28 17:41] layershifter commented on #664
Actually, the issue is caused by [`insertRuleInDevMode.js`](https://github.com/rofrischmann/fela/blob/master/packages/fela-dom/src/dom/connection/insertRuleInDevMode.js) which simply rewrites all styles in `devMode` ✍️

[2019-01-28 18:17] rofrischmann commented on #664
First of all, I would consider having 2 renderers a code smell though. You should always have only one renderer.
But, yet you're right. No idea how to fix that tbh. It gets super complicated with sorting and specificity and adding dom nodes etc.

[2019-01-28 19:27] milesj opened #666 "How to properly handle specificity?"
**Type**: Question

| Packages | Version |
| -------- | ------- |
| fela     | 10.0.3   |

-------------------
#### Description

**Preface:** I'm using Aesthetic v3 + Fela adapter, which transforms styles to classes using this method: https://github.com/milesj/aesthetic/blob/master/packages/adapter-fela/src/FelaAesthetic.ts#L43

According to the docs, `combineRules` should be used to avoid specifi

[2019-01-29 09:50] rofrischmann commented on #664
Might allow a second argument to `render` (fela-dom) that sets some kind of "id" for style nodes but defaults to none. That way I'd allow those changes to happen.

[2019-01-29 10:01] layershifter commented on #664
But it means that:
- we should add this `id` prop to `RendererProvider` to pass it to `render()`
- we should pass it to `createSubscription()` from `render()`
- and finally to `getNodeFromCache()`
- use optional `data-fela-id` attr or append `data-fela-type` (???)

However, we're passing `renderer` in all these cases 🤔 If you're fine with these I will create another PR for this

[2019-01-29 10:11] rofrischmann commented on #664
Im also happy with a renderer option, so we dont change public APIs except the config and keep it a single source.
Then all happens within fela-dom entirely. I'd also want to see a data-fela-id here. Extending the type seems to require parsing that argument later on etc. Better to have a nice clean way.
Make sure to also add it to the server-side rendering methods and rehydration =)

But I'd reall

[2019-01-29 17:56] milesj commented on #666
@rofrischmann Here's the snippet of button styles.

[code]

And `pattern.resetButton` is this object. This is where I think the transparent styles are coming from.

[code]

As for the important, we're using the fela important plugin because we have styles on our page that aren't CSS-in-JS and we need to avoid collisions.

[2019-01-31 14:46] layershifter commented on #664
@rofrischmann ready for review in #664 🎉

[2019-02-01 10:52] MarcNq opened #668 "React warnings about key prop using fe"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela-bindings     | 10.1.3   |

-------------------
#### Description
When using `/* @jsx fe */`, arrays of components with styles give React warnings about missing `key` prop, even if prop is passed.

This is because `key` prop gets transferred to FelaComponent's children, while React needs `key` prop at the outermost component in a lo

[2019-02-07 07:07] rofrischmann commented on #666
Alright. So right now, you can't mix `background` and `backgroundColor` (or in general, any shorthand and longhand values together) because Fela can't assure the correct order as of today. We only sort pseudo classes right now though this might change soon. The ideal goal is to sort all rules in alphabetic order, but I'm yet not sure about the performance implications.

[2019-02-07 07:10] #666 closed

[2019-02-07 07:54] milesj commented on #666
Thanks for the info. I'll mess around with using the full form and see if that resolves the issue.

[2019-02-09 13:01] bkniffler commented on #629
Thanks for implementing this. Just a quick question: does it also work that way with react-native renderer?

[code]

[2019-02-09 15:32] rofrischmann commented on #629
Oh, hmm it should yeah. But the naming definitely lacks here 😅

[2019-02-11 12:29] rofrischmann commented on #668
Addressed in the latest commit :)

[2019-02-11 12:29] #668 closed

[2019-02-13 06:16] #664 closed

[2019-02-17 16:26] TawKhoury opened #672 "codemod breakes when render is a non-function variable"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela-codemods  | 10.2.0   |

-------------------
#### Description
When the `render` prop is a variable that stores a `string`, for instance, when the rendered element is set dynamically, the codemod assumes it is a function, removes all children and places the variable as `children`.

#### Steps to reproduce
The following code:

[code]

[2019-02-17 17:09] TawKhoury commented on #672
Another bug in the codemod is that arguments of inline functions inside a `style` functions are transformed as if they were the args of the `style` function itself.

**Before:**
[code]

**After:**
[code]

Should I keep this here, or open a separate issue?

[2019-02-18 07:25] rofrischmann commented on #672
Hmm, The second one is invalid anyway as you can't have function values inside Fela rules.
I don't think we should check that as well.
However, the first one is definitely true and should be fixed. Feel free to send a PR that fixes that specific case!

[2019-02-18 10:04] TxHawks commented on #672
@rofrischmann The second case could be a valid use case with a slightly less contrived example, in which you use a function that takes a callback to generate some styles:

[code]

I think that generally speaking, we should only check for the arguments of the callback directly following `style={`.

I agree that the first issue is more serious

[2019-02-20 10:12] marcneander opened #676 "Type definitions for react-fela"
Type definitions for `react-fela` is completely broken and should probably be removed or fixed.

Unfortunately I don't have enough experience with Typescript yet to fix this myself.

[2019-02-20 15:27] tomwagner commented on #676
Maybe it's related with #677. From my point of view in my usage the TS typings looks good. Try to be more specific.

[2019-02-20 16:31] marcneander commented on #676
I'm on my phone right now but here's a small list from the top of my head.

- useFela hook is not defined
- createComponent with ':hover' and other psuedo classes not compatible if not first argument is a function.
- createComponent with another component in second argument seems to be completely missing.

Probably more...

[2019-02-25 11:35] TxHawks commented on #618
Seems like fela-enzyme is still importing `createTheme`  from `fela-binding`, but `createTheme` was using the old context api, and was deprecated in 491567f697416c4bb051c13bc689d12aaa028409

@sgrishchenko Would you mind fixing it?

[2019-03-01 16:29] reinhard commented on #676
I would not call the typescript support of Fela 'completelty broken' either. createComponent should not be used any longer (AFAIU it will or already is deprectated).

For useFela I created a pull request at #683

Also see https://github.com/Indoqa/indoqa-react/blob/feature/theming-v2/packages/style-system-demo/src/main/fela/FelaComponentSamples.tsx and https://github.com/Indoqa/indoqa-react/blob/f

[2019-03-01 21:08] Pranab16 commented on #337
Any update when this will be available?

[2019-03-10 04:46] houd1ni commented on #615
Please, add vue binding to somewhere https://github.com/houd1ni/fela-vue

[2019-03-10 04:47] houd1ni opened #687 "Broken link to a plugin in docs"
Docs page: http://fela.js.org/docs/advanced/Plugins.html
Broken link to the `fela-plugin-lvha` plugin: https://github.com/rofrischmann/fela/tree/master/packages/fela-plugin-lvha

[2019-03-10 05:24] houd1ni opened #688 "New option to isolate."
The isolate plugin: https://github.com/rofrischmann/fela/tree/master/packages/fela-plugin-isolation

I suggest to add an option or another plugin that adds some tunable prefix to fela's class names instead of adding the whole rule for each of them. E.g. 'f-a f-b f-ae' instead of making 3 copies of `all:initial`. That seems to be quite less code. I also can make a PR after negotiation.

[2019-03-13 17:56] #687 closed

[2019-03-13 17:57] rofrischmann commented on #687
I just removed the link. The plugin is no longer used as Fela automatically sorts those.

[2019-03-13 17:58] rofrischmann commented on #676
Anything else to add here? I only accept PRs for TypeScript stuff, will never fix that on my own :P

[2019-03-13 18:17] rofrischmann commented on #688
Could you gimme a quick example of how the rendered CSS and class names would look like and how you'd want to implement that?

[2019-03-14 10:37] reinhard commented on #676
Nothing from me.

[2019-03-14 12:46] houd1ni commented on #688
Sure. First, it should be an option, 'cause it does not drop all previous styles, but only avoids class names collisions, that is often very close to the plugin target.

For example, one has picked `fela-` as a prefix.

### Input
[code]

### Classnames, renderRule() output:
[code]

### Rendered CSS (beauty):
[code]

[2019-03-14 13:25] TxHawks commented on #688
If I understand you correctly, Fela has this functionality out of the box, no plugin needed. Just pass a `selectorPrefix` to your renderer:

[code]

See https://fela.js.org/docs/advanced/RendererConfiguration.html

[2019-03-14 14:12] houd1ni commented on #688
@TxHawks  Thank you! Yes, it's exactly what I thought of.

So, if one has some classnames inference, maybe, he should pick this plugin occasionally instead of solving it by `selectorPrefix`. How about a line in this README warning about it?

[2019-03-14 14:48] TxHawks commented on #688
I don't think I understand what the need for a plugin is here. I wouldn't mind a note in the README, though it is pretty clearly documented in the link I sent above.

[2019-03-14 14:51] houd1ni commented on #688
@TxHawks Clearly indeed. The case I'm asking, that fela could be easily used without remembering all these options, and one could easily face the problem of class collision and resolve it by the plugin instead of looking for the right solution for him/her. Sometimes it leads to stupid mistakes ;)

[2019-03-14 14:55] marcneander commented on #676
@reinhard Your PR from yesterday is incorrect and does not let typescript users add arguments to useFela`. This is why this issue is here. We don't have `ThemeContext` definitions either.

I see two solutions:
- Test the type definitions here in the fela monorepo.
- Move definitions to https://github.com/DefinitelyTyped and let the community handle it.

Overriding type definitions from the install

[2019-03-14 14:56] TxHawks commented on #688
Sure, send a PR.

Though to be fair, a plugin wouldn't help here. You either need to check the documentation of the renderer, or the list of plugins. I'd assume, and I may be wrong, that you someone setting up Fela for a project, is likely, and should be expected to , look at the renderer's API. Seems much more basic than starting off with looking at plugins that are meant to extend the basic usag

[2019-03-14 15:01] TxHawks commented on #676
+1 for DefinitelyTyped. Since we don't really maintain the TS definitions, I see no added value in maintaining them here

[2019-03-14 15:11] rofrischmann commented on #676
@marcneander Feel free to organize the migration to DefinitelyTyped. I would love to see that being improved in the future!

[2019-03-14 15:18] TxHawks commented on #688
Did you have two renderers? What sort of class name collisions did you run into?

[2019-03-14 15:37] marcneander commented on #676
I'd love to but I already have too much on my table right now. If this is still an issue after summer I'll make the effort 👍

[2019-03-14 15:57] houd1ni commented on #688
Not at all: having two renderers looks like madness 😆

I thought about possible collisions in my project due to third-side UI frameworks and so and how to solve them. One of the first was like if I have kinda small 2-3 letter class names somewhere in the large codebase, no matter inside or out of fela-styled components, hence it could be inference where some special salt should be useful after all

[2019-03-16 04:04] matthewharwood opened #690 "Storybook won't work with Fela + preact"
https://stackoverflow.com/questions/55193107/invalid-attempt-to-destructure-non-iterable-instance-when-using-fela-css-in-js-w/55193190?noredirect=1#comment97124570_55193190

Im getting an error when I try to render the preact-fela RendererProvider inside storybook
![Error](https://i.stack.imgur.com/44pv5.png)

I def got it working in a non-storybook scenario shown here:

https://codesandbox.io/s/9

[2019-03-21 07:07] UberMouse commented on #676
I've created a PR to fix the specific issue introduced in #677 in #692

[2019-03-21 11:31] namjul opened #693 "Support style injection target in renderer"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela     | 6.0.x   |

-------------------
#### Description

I plan on using https://github.com/seek-oss/playroom. It requires to inject the styles into iframes which have the actual relevant dom. But the actual components get executed outside of the iframe and renders the actual from into each iframe, so all styles land in the pare

[2019-03-23 21:10] jp7837 opened #694 "FelaRenderer typing does not resolve React.ComponentType"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| react-fela     | 10.2.2   |

-------------------
#### Description
When using react-fela typings alongside React typings from DefinitelyTyped (@types/react) v16.8.4, I'm getting the following error where FelaRenderer extends React.ComponentType

`Property 'ComponentType' does not exist on type 'typeof React'.ts(2339)`

#### Steps to rep

[2019-03-23 21:11] jp7837 commented on #694
@tomwagner this was added in #677, were you building alongside React typings from DefinitelyTyped?

[2019-03-25 10:05] tomwagner commented on #694
My fault :( Should be fixed in #692

[2019-03-28 21:08] ragurney commented on #331
What would be the solution now if I actually want to pass `innerRef` to the child?

[2019-03-29 17:27] namjul commented on #693
I would provide a PR if this is something wanted.

[2019-03-31 13:43] oschade opened #696 "Bug: Monolithic does not work with FelaComponent"
**Type**: Bug / Feature / Infrastructure / Docs / Question

| Packages | Version |
| -------- | ------- |
| fela     | 10.2.1  |

-------------------
#### Description

I added `fela-monolithic` to my enhancers (with pretty-selector option). But when I use a `FelaComponent`, the name of the rule does not be added to the class-name. I think, this happens, because `FelaComponent` uses `combineRules `

[2019-04-04 08:23] #688 closed

[2019-04-04 08:24] #672 closed

[2019-04-04 08:26] rofrischmann commented on #676
So ill close this issue now. If there're still any issues, feel free to reopen or open a new one.

[2019-04-04 08:26] #676 closed

[2019-04-04 08:26] #694 closed

[2019-04-04 08:28] rofrischmann commented on #693
Hey @namjul,

As I'm going to integrate Playroom as well, I'd love to have that functionality.
I think the best way would be to add it to the fela-dom package rather than the renderer itself.
The option can be passed to the Provider in react/preact/inferno-fela as well to pass it down to the fela-dom.
That way we'd keep the agnostic renderer free of DOM specific stuff.

[2019-04-04 08:31] rofrischmann commented on #690
Hmm. I can't really help here. Storybook works for me with React+Fela and I've only tested Preact without Storybook. Feels like this is some Storybook issue then?

[2019-04-04 08:35] rofrischmann commented on #696
Heyhey. I recently realised that this is true with both `FelaComponent` and `useFela` due to similar behaviour. But nowadays I think that prettySelectors was never a really reliable tool anyway as it had many prerequisites that were hard to match anyways.
I'd not want any extra code just for the sake of debugging/testing to be honest.
I think there're better ways to get nicely named components e.g

[2019-04-04 08:35] #696 closed

[2019-04-04 09:21] TxHawks commented on #696
A somewhat ambitious alternative could be developing a devtools extension

[2019-04-04 10:13] oschade commented on #696
Thank you for your response. Is the "_className" property on the rule already implemented? It does not work in my script. And the customClass prop on the FelaComponent triggers a deprecated warning. What is the alternative for that?

[2019-04-04 10:35] rofrischmann commented on #696
The alternative would be to pass it to the rendered element directly rather than on FelaComponent.
The _className works with pure Atomic Design, but not sure if its in monolithic fair enough.

[2019-04-04 10:50] oschade commented on #696
mm... yes, _className works when the monolithic enhancers is disabled. But using the "className" prop on the rendered element doenst work either with monolithic enhancer enabled.
Why do you decided to remove the _className prop? Seems like a cleaner solution to me. And it work with monolitihc.

[2019-04-04 15:55] matthewharwood commented on #690
https://github.com/storybooks/storybook/issues/6122#issuecomment-479956490
Made the issue a while back could you follow up with them too?

[2019-04-09 15:59] studna opened #698 "Fela bindings does not export RendererProviderFactory"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela-bindings     | 10.2.3   |

-------------------
#### Description
Package `fela-bindings@10.2.3` does not export **RendererProviderFactory**. It's wierd, because the master branch looks fine https://github.com/rofrischmann/fela/blob/master/packages/fela-bindings/src/index.js#L15.

#### Error Message
[code]

#### Steps to reproduce

[2019-04-09 16:31] studna commented on #698
Same issue with `fela-plugin-prefixer@10.2.3`. In NPM package is line `import prefix from 'inline-style-prefixer/static';` instead of https://github.com/rofrischmann/fela/blob/master/packages/fela-plugin-prefixer/src/index.js#L2

Looks like some build issue.

[2019-04-09 16:47] reinhard commented on #698
I can confirm this problem with Fela 10.2.3

[2019-04-09 17:05] rofrischmann commented on #698
Oh wtf. those are completely wrong versions out as 10.2.3

[2019-04-09 17:06] TxHawks commented on #698
Looks like something went wrong wrong when publishing. Building the repository produces the correct bundles

@rofrischmann should I bump a patch version and re-publish?

[2019-04-09 17:07] rofrischmann commented on #698
@TxHawks If you could do that real quick, I'd be more than happy!
Maybe it is linked to the fela@6.2.4 release I did using the v6-tag?

[2019-04-09 17:37] TxHawks commented on #698
@rofrischmann I don't have permissions for publishing `fela-codemods` so only some packages were published, and others (that happen to be after `fela-codemods` in the publishing order, did not)

[2019-04-09 18:05] TxHawks commented on #698
Version `10.2.24` of all packages except `fela-codemeds`, `fela-enzyme`, `jest-fela-bindings`, `jest-inferno-fela`, `jest-preact-fela` and `jest-react-fela`, to which I don't have permissions in npm have been published. I check the published code, and everything seems fine now.

@studna can you reinstall and confirm the issue has been resolved.

[2019-04-09 18:10] studna commented on #698
@TxHawks 10.2.4 works great. Thank you! 👍

[2019-04-09 18:12] TxHawks commented on #698
Great. Will close this once @rofrischmann has a moment to publish the remaining packages.

[2019-04-10 08:40] TxHawks opened #699 "Moving to scoped packages in NPM"
**Type**: Discussion

#### Description
Manually managing permission for the publishing of individual packages on npm is annoying and error prone, as illustrated by [#698 (comment)](https://github.com/rofrischmann/fela/issues/698#issuecomment-481367292_). Basically the person who first publishes the package has to remember to manually add permission for the other maintainers.

#### Proposal
Scoped

[2019-04-10 12:45] rofrischmann commented on #698
Ill merge a fix soon and just publish 10.2.5 directly

[2019-04-10 12:47] TxHawks commented on #698
Fix?

[2019-04-10 13:05] rofrischmann commented on #698
Oh I meant a small patch (see #700). But I can also just release now first. Ultimately we wanna get the npm org and move to scoped packages :)

[2019-04-17 03:32] gilmoreorless opened #702 "Can't style based on global parent class"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 6.1.x & 10.2.x (tested both)  |
| react-fela | 7.3.x & 10.2.x |

-------------------
#### Description

I'm trying to integrate with a third-party library ([Tether](http://tether.io/)), which adds dynamic classes to a container component. These classes can be added and removed at any time, based on its position adapting to wi

[2019-05-02 18:19] aga5tya opened #705 "Regular css properties causes mismatch in rehydration on ssr"
**Type**: Bug / Question

| Packages | Version |
| -------- | ------- |
| fela     | 10.2.4   |

-------------------
#### Description

Style function with keys as regular css properties (e.g. 'max-height') produces a mismatch during ssr and client rehydration.

#### Steps to reproduce
Reproduction on Codesandbox using nextjs

https://codesandbox.io/embed/91pn8r0z6w

#### Expected Behavior
Styles s

[2019-05-02 19:43] veeramarni opened #706 "suggestion on type errors"
**Type**:  Infrastructure

After upgrading to 10+ we noticing few type errors.

| Packages | Version |
| -------- | ------- |
| fela     | 10.2.4   |

-------------------
#### Description
Following type errors we see.

// styles

[code]

// type errors
[code]

[2019-05-02 20:28] veeramarni commented on #706
Currently, this is one of the solutions suggested in `csstypes`. Wondering if there is any better way to generate `.d.ts` from styles file.

[code]

[2019-05-02 21:36] veeramarni commented on #706
I have tried something like [this](https://github.com/cdmbase/fullstack-pro/blob/fc387064ec1eec5092c59dbd1ccb642376b704f2/packages-modules/counter/browser/src/fela/components/ComplexComponent.tsx#L18), still no luck.

[code]

[2019-05-03 07:45] rofrischmann commented on #705
Hmm, why do you use lower-case properties at all?

[2019-05-03 12:24] aga5tya commented on #705
Actually there are few legacy components in our codebase that have these and is huge to track all instances. I'm moving them as and when encountered, but was wondering if can be sorted at lib itself.

[2019-05-03 12:28] rofrischmann commented on #705
well yeah, I can't really tell why that would be a problem in the first place, as we are transforming camelCase properties anyways...

[2019-05-03 13:04] aga5tya commented on #705
Right now it's not much of a priority tho. I'l dig deeper by this weekend and figure out where it's going wrong.

[2019-05-03 20:06] veeramarni commented on #125
Need to enable `devMode` to make HMR working for styles.

https://github.com/rofrischmann/fela/blob/cca5302747db4c231221e5ca104df399c58a2a19/docs/advanced/RendererConfiguration.md

http://fela.js.org/docs/advanced/DOMRendering.html

[2019-05-04 15:31] aga5tya commented on #705
That indeed was the case. Was properly done during rehydration but not camelCased during client pass. Fixed at #707. Please review

[2019-05-06 02:39] gilmoreorless commented on #702
For the record, I ended up working around this by adding the conditional styles to the parent container. It's not great, because it breaks the component boundaries, but it was the neatest solution I could find.

For example:

[code]

(Then I made sure that the contents always have the `data-tether-contents` attribute added, to avoid having to know anything about the element type.)

[2019-05-06 09:38] rofrischmann commented on #702
@gilmoreorless Sorry for the delay. So, in general, the & is not a placeholder for the current class in Fela as this breaks with the idea of component-centric styles in my opinion. Sadly, there's no better way to work around this for now as we believe toggling classes is not the "right" way to do it at all. Knowing that many libs do this anyways, I think your solution is fine enough for this speci

[2019-05-06 09:38] #702 closed

[2019-05-06 09:38] rofrischmann commented on #699
@TxHawks Any news on transferring @fela?

[2019-05-06 09:39] #698 closed

[2019-05-06 09:41] rofrischmann commented on #706
@veeramarni Feel free to send a PR improving the TypeScript types. I'm not a TypeScript user nor expert so I can't really help out here at all.

[2019-05-06 09:41] TxHawks commented on #699
Yes! npm got back to me yesterday that they have contacted the owners of `@fela` and have given them until the 9th to respond. It seems inactive, and if there is no response, they will start the process of transferring it over to us.

[2019-05-08 10:16] #705 closed

[2019-05-08 10:16] rofrischmann commented on #625
Fixed with #701

[2019-05-08 10:16] #625 closed

[2019-05-10 05:03] TxHawks commented on #699
Okay, `@fela` was just transferred to us, so we can start migrating.

I think we should probably remove the `fela-` prefix from all packages, so that e.g., `fela-bindings` becomes `@fela/bindings`. Only question is what should we do with `fela`. I think we should probably follow suit with Babel, and go for `@fela/core`.

[2019-05-12 06:49] TxHawks commented on #699
Now that GitHub has announced its own package registry, should we plan to also publish here? I've already checked and the `@fela` scope is taken (well, not as a scope, but there's a user with that handle). It seems like a pretty low-activity account, so he may be willing to pass it over to us.

@rofrischmann What do you think?

[2019-05-28 07:28] jacobrask commented on #493
Could you describe the difficulties that led to you abandoning this? Is there some work in the closed PR's that we could resume?

If I understand the current implementation correctly I think it will be difficult to get it to work with React concurrent mode which can pause and resume rendering of the tree.

I have done some experiments with progressive rehydration but the current incremental class

[2019-05-30 21:06] josemussa opened #708 "Add withFela HoC"
**Type**:  Feature

| Packages | Version |
| -------- | ------- |
| fela     | 10   |

-------------------
#### Description
I'm loving the `useFela` hook, would you accept a pull request for a `withFela` HoC that piggybacks on `useFela` hook? The use-case for this is that hooks are great but not useful for class components.

The code would look similar to this:
[code]

And you can consume it as:
[

[2019-05-30 21:09] TxHawks commented on #708
Why not just create it in userland? I mean, what's thebenefit of having this backed in to the API vs just creating your own hoc that does exactly that?

[2019-06-02 21:27] #708 closed

[2019-06-05 09:42] layershifter opened #709 "Incorrect output from generateFontSource()"
**Type**: Bug

Pass `localAlias` option to `renderFont` and you will get weird output:

[code]

| Packages | Version |
| -------- | ------- |
| fela     | 10.4.1   |

#### Description

Issue comes from broken template string in `generateFontSource()`:
[code]

[2019-06-05 09:46] rofrischmann commented on #709
Huh, when was this once introduced :o
Will fix asap!

[2019-06-05 09:58] layershifter commented on #709
Actually I started to work on it 🐎 But, feel free to make PR 🐱

There is one more issue: `files` and `fontLocals` are optional params, so I can pass empty array of `files` (it's our usecase).

After this fix it will receive:

[code]

[2019-06-05 11:19] rofrischmann commented on #709
Oh if you wanna fix it, go for it :)
I never really touched the font loading for 2 years now.

[2019-06-05 12:05] layershifter commented on #709
Fix in #710 🚀

[2019-06-06 08:51] #709 closed

[2019-06-12 10:32] josemussa opened #713 "Prefix Keyframe name"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela     | latest   |

-------------------
#### Description
Although not recommended we have situations were multiple renderer instances are needed, a script tag like a chat box or any other secondary application on the same page.

So far we have been able to circumvent all clashes by adding a custom `selectorPrefix` but when it co

[2019-06-25 00:10] rapheld opened #719 "Why is enzyme-to-json a peer dependency in fela-enzyme?"
**Type**: Question

| Packages | Version |
| -------- | ------- |
| fela-enzyme     | 10.5.0   |

-------------------
#### Description
I just added fela-enzyme. When I tried using it got an message that enzyme-to-json wasn't available. The package.json has it listed as a peer dependency, so I'll have to install/manage that separately. Any specific reason it is set up that way? Wouldn't it be bette

[2019-06-25 10:57] weserio commented on #719
First of all, we should make it a dependency - thanks for reporting! (wanna send a PR?)
I do not personally use fela-enzyme and thus never really used/checked it - it was PRed as well.

Any improvements to the package are very welcome!

Also, we moved to Spectrum recently (see README). Where did you find the reference to Gitter?

[2019-06-25 12:48] danielantelo opened #720 "Enzyme mount recipes not updated for latest fela"
https://github.com/weserio/fela/blob/master/docs/recipes/TestingFelaComponents.md

in the `#test-helpers/felaMount.js` example it says `import { createTheme } from 'fela-bindings'` which is no longer in the fela-bindings package.

Could we get an updated recipe? thanks.

[2019-06-25 13:17] weserio commented on #693
Just getting back on this issue: It looks like Playroom now uses window instead of frameWindow, so this specific issue should be resolved!

[2019-06-25 13:17] #693 closed

[2019-06-25 19:11] rapheld commented on #719
Thanks for the response. I'll try to find some time for a PR. Also, Gitter is mentioned in the Github Issues template:

[2019-06-26 06:26] weserio commented on #719
Ohh, we'll need to update all occurrences of Gitter mentions! Also according to the package. I'm not even sure if you really need it at all. We only use snapshot tests (with jest-react-fela) and it works just fine enough. I'm happy with any contribution of course, just wanting to hint that!

[2019-06-27 05:32] milesj commented on #465
Just ran into this. It would be nice if `renderStatic` support full nested objects (pseudos, media, etc) like other rules do.

[2019-07-12 08:12] MarcNq commented on #205
What I'm doing, thanks to the new FelaRenderer component, is the following:

I declared a Higher Order Component called `withKeyrame`:

[code]

Which is quite generic, and I use it like this:

[code]

[2019-07-16 11:30] horaklukas commented on #720
From the same reason, `fela-enzyme` doesn't work anymore. `felaShallow` fails with ` TypeError: (0 , _felaBindings.createTheme) is not a function` error 🙁

[2019-07-16 14:25] layershifter opened #723 "Multiple selectors supported?"
## Bug

| Packages | Version |
| -------- | ------- |
| fela     | 10.5.x   |

## Description

I am not sure that it's a real bug, but I need some clarification around it. In LESS (_any other preprocessor_) I can do following:
[code]
Which will produce:
[code]

I have not seen this anywhere in docs, but when I tried to do the same:
[code]

But Fela outputs 💣
[code]

There is no `a` class for `:foc

[2019-07-29 07:56] robinweser commented on #723
This is not part of Fela's API. Remember it is not a reflection of the CSS syntax, but only an extended object notation. Nevertheless, this seems easy to achieve using a plugin that duplicates those selectors by splitting them at each comma. Feel free to send a PR!

[2019-07-29 08:03] robinweser commented on #720
See the latest comment in Spectrum:
[code]

[2019-07-29 08:03] #713 closed

[2019-07-29 09:00] layershifter commented on #723
Fair enough 👍 Actually this issue was created to ensure that it's not a part of API 😼

[2019-07-30 03:28] bensmithett opened #727 "fela-bindings 10.6.0 expects a document, breaks server rendering"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela-bindings     | 10.6.0   |
| react-fela     | 10.6.0   |

-------------------
#### Description

A change to `RendererProviderFactory` in 10.6.0 added `document` as a default parameter to a couple of functions, including `hasDOM`: https://github.com/robinweser/fela/commit/b956c3e83591cef4458f3e4074c4e0267a5d69e8#diff-a616f11ba186e1f

[2019-07-30 05:59] robinweser commented on #727
Oh, I must have deleted it unintentionally. Would you want to send a PR to fix it? I'll merge asap!

[2019-07-30 06:00] bensmithett commented on #727
@robinweser yep! Incoming shortly...

[2019-07-30 07:07] #727 closed

[2019-08-16 06:56] efoken opened #730 "TypeScript typing for fela-tools StyleSheet"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 10.6.1   |

-------------------
#### Description
TypeScript type definitions of fela-tools are not correct / missing.

#### Steps to reproduce

1. Install `fela` together with `fela-tools`
2. Create a stylesheet / rule set like in the following code example.

#### Expected Behavior
[code]

Should work without TypeScript erro

[2019-08-19 13:44] efoken opened #731 "No typings in `fela-plugin-typescript`? Has somebody tried?"
**Type**: Question / Bug

| Packages | Version |
| -------- | ------- |
| fela     | 10.6.1   |

-------------------
#### Description
Has somebody of you tested the `fela-plugin-typescript`? For me there are no typing available in the package, if I install it using npm or yarn, like `npm i --save fela-plugin-typescript`

#### Steps to reproduce

1. Install `fela` and `fela-plugin-typescript` using

[2019-08-31 17:47] robinweser commented on #731
Seems solved with #729?

[2019-08-31 17:47] #731 closed

[2019-08-31 17:47] robinweser commented on #730
Feel free to PR those types. I'm not using TypeScript and thus not writing the types myself.

[2019-09-16 11:07] layershifter opened #735 "`fela-plugin-fallback-value` & `fela-plugin-expand-shorthand` are not compatible"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| `fela-plugin-fallback-value` | 10.6.1   |
| `fela-plugin-expand-shorthand` | 10.6.1   |
| `inline-style-expand-shorthand` | 1.1.5   |

-------------------
#### Description

I tried to use these plugins in different order and they are not compatible 😭

I expect that `fela-plugin-expand-shorthand` should be called before `fela-plugin-fal

[2019-09-25 01:04] MrOggy85 commented on #727
This still breaks in react-native.
`window` exists
but `document` is not defined which results in an error:

[2019-09-26 02:58] MrOggy85 opened #736 "Bug: fela-bindings 10.6.0 & 10.6.1 breaks react-native"
| Packages | Version |
| -------- | ------- |
| fela-bindings     | 10.6.0 & 10.6.1   |

-------------------
#### Description
In react-native environment `window` is defined, but `document` is undefined. The function `hasDOM` will use `document` which results in the error:
`document is not defined`.

I think an additional check needs to be made to assure that `document` is not used when `window` i

[2019-09-26 07:20] robinweser commented on #736
Hey there,

Thanks for opening that issue!
Would you be willing to file a PR adding those checks? Must have gone missing by accident.

[2019-09-30 08:25] #736 closed

[2019-09-30 08:30] #735 closed

[2019-10-03 14:02] robinweser opened #739 "Automatically order media-queries in fela-dom"
-------------------
#### Description
We want to be able to tell fela to sort media queries by default. Sometimes we don't have the mediaQueryOrder on built-time. This should be optional of course sine we don't want to enforce a order by default.

[2019-10-07 15:01] IgorBabkin opened #740 "fela-plugin-prefixer does not work with React"
**Type**: Bug

| Packages | Version |
| ---------- | ------- |
| fela          | 10.7.0   |
| react-fela | 10.7.0   |
| fela-plugin-prefixer | 10.7.0   |
| react        | 16.9.0   |

-------------------
#### Description
Plugin cuts style properties which must be prefixed.

#### Expected Behavior
[code]

#### Actual Behavior
[code]

[2019-10-07 15:09] robinweser commented on #740
Hey there,
As stated in the plugin [docs](https://github.com/robinweser/fela/tree/master/packages/fela-plugin-prefixer#fela-plugin-prefixer): The plugin requires the [fela-plugin-fallback-value](https://github.com/robinweser/fela/tree/master/packages/fela-plugin-fallback-value) to be added after it in order to work properly. Also, I would recommend using [fela-preset-web](https://github.com/robinw

[2019-10-07 15:09] #740 closed

[2019-10-14 12:47] horaklukas opened #741 "Generating supports rules doesn't work in devMode"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 10.5   |

-------------------
#### Description
Rendering `@supports` rule doesn't work when `devMode: true` set.

#### Steps to reproduce

1. Create renderer with `devMode: true`
2. Use `@supports` rule for any element, eg.
[code]

#### Expected Behavior
`display: grid` should be applied in newer browsers

#### Actual Behavi

[2019-10-16 21:51] KyleBastien opened #742 "Fela inline styles with nonce"
**Type**: Feature

| Packages | Version |
| -------- | ------- |
| fela     | 10.6.x   |

-------------------
#### Description
It looks like Fela adds inline styles to the document, that look like this:

https://github.com/robinweser/fela/blob/master/packages/fela-dom/src/server/createStyleTagMarkup.js

But it doesn't look like there is a way to set a nonce for these style tags? Is anyone implemen

[2019-10-16 22:31] robinweser commented on #742
@HugoGiraudel isn‘t this the same issue you once had?
I‘m pbly adding a style attributes config to fela. Don‘t want any global window stuff in here.

[2019-10-16 22:38] KyleMcNutt commented on #742
@robinweser I think a global window might actually be preferred here, even though I agree it's sort of yucky... if a user is using a library that in turn uses fela, unless that style attributes setting is exposed by that library the user has no way to set a nonce, even if fela does support it. Instead, if the user is able to directly effect fela's settings (via something like a global window objec

[2019-10-17 10:33] HugoGiraudel commented on #742
We postponed our strict CSP integration for other reasons, but we did have the problem that client-side injected `style` elements could not be passed a nonce yes. A configuration should easily fix that. :)

[2019-10-17 11:03] robinweser commented on #742
Alright I see!
So I'm still more into the idea of having a config here. If a component library uses Fela, I feel like they'd have to expose the settings and/or allow window.whatever. Would you be ok with that @KyleMcNutt?

[2019-10-17 15:59] KyleMcNutt commented on #742
@robinweser I would still prefer Fela to take a config object from window directly if possible, or to take both options and prefer the settings object over the window object. It would really help with not having to chase down each Component library and asking them to also expose this setting.

But if you're not open to this being exposed on a window object, I'd be okay with it being exposed via a

[2019-10-28 09:56] DanielRuf opened #744 "Migrate to GitHub Actions"
**Type**: Infrastructure

We could try GitHub Actions but it seems you did not yet sign up to the beta.

[2019-10-28 09:57] robinweser commented on #744
Gimme a sec, Ill do that quickly :P
Would love to use Github Actions!

[2019-10-28 15:38] robinweser commented on #742
@KyleMcNutt Would you be willing to implement that behaviour? Pbly support both window and renderer config would be the way to go then :)

[2019-10-28 21:35] KyleMcNutt commented on #742
@robinweser I probably won't have the chance to work on this immediately, but I'll try and take this up.

Can you point me at other examples of a renderer config in fela? So I get an idea of how to plumb that through to here?

[2019-11-05 08:17] robinweser commented on #742
So, those are all options right now: http://fela.js.org/docs/advanced/RendererConfiguration.html
Which are added to the renderer here: https://github.com/robinweser/fela/blob/master/packages/fela/src/createRenderer.js#L44

In fela-dom, you'll have access to the renderer, so you can read from that config (or read from the window.___ object) and add additional attributes.

It should be passed down t

[2019-11-05 12:38] robinweser commented on #741
Fixed that in master, releasing soon.

[2019-11-05 12:42] robinweser commented on #720
We're going to deprecate fela-enzyme as it's not maintained and the original author did not respond at all. I'd recommend using jest-react-fela for simple testing.

[2019-11-05 12:42] #720 closed

[2019-11-05 12:42] robinweser commented on #719
We're going to deprecate fela-enzyme as it's not maintained and the original author did not respond at all. I'd recommend using jest-react-fela for simple testing.

[2019-11-05 12:42] #719 closed

[2019-11-05 12:42] robinweser commented on #618
We're going to deprecate fela-enzyme as it's not maintained and the original author did not respond at all. I'd recommend using jest-react-fela for simple testing.

[2019-11-05 12:42] #618 closed

[2019-11-05 12:43] robinweser commented on #690
I'm going to close this for now, since there's no progress (not even sure if the issue still occurs?) and I couldn't really reproduce it in isolation.

[2019-11-05 12:43] #690 closed

[2019-11-06 15:40] lostpebble opened #746 "Descendant Selectors / combinators"
**Type**: Feature / Question

Hi @robinweser and contributors,

This is a similar issue to #169 - but it feels like you resolved that one. So thought I'd open a new one to give a fresh look at this.

I need to make use of a [descendant combinator](https://developer.mozilla.org/en-US/docs/Web/CSS/Descendant_combinator) similar to what was being asked on that first issue.

For my example, I have a T

[2019-11-06 15:50] robinweser commented on #746
You can always use e.g. `'& b'` to add ANY valid CSS selector, but it's considered an escape hatch rather than a built-in feature. Hope that solves your issue here, in general I more like to remove selectors than adding new ones 😅

Reopen if that doesn't work/solve your issues :)

[2019-11-06 15:50] #746 closed

[2019-11-06 16:12] lostpebble commented on #746
Worked perfectly! Thanks.

Don't know why I didn't try that... I just assumed the `&` operator made a combination of two selectors / classes at the same level. But I see now it is often used for descendant too.

And yea, I totally get your philosophy with Fela and using less child selectors. Its just that for text especially, its nice to be able to easily create descendant selectors because of all

[2019-11-15 16:57] #744 closed

[2019-11-15 17:01] #741 closed

[2019-11-15 17:01] #739 closed

[2019-12-02 13:42] TxHawks opened #754 "Concurrent mode and streaming server rendering support"
**Type**: Feature

-------------------
#### Description
With React's concurrent mode expected to soon be released in production releases, combined with streaming SSR, our current approach of  populating style tags in the `<head>`, becomes no longer tenable, since by the time a server-rendered component is rendered the `<style>` tag it is trying to populate may (and likely has) already have been st

[2019-12-11 20:52] alanhogan opened #755 "Request: Document what prefixes are added with Prefixer and/or allow more control"
**Type**:  Docs

| Packages | Version |
| -------- | ------- |
| fela     | 11.0.x   |

-------------------
#### Description
We have an upcoming project to trim a little fat by removing polyfills for Internet Explorer and other ancient browsers. I am having a hard time understanding if there is anything I can or should do to make the prefixer do "less prefixing", or what versions of Chrome (for ex

[2019-12-12 07:56] robinweser commented on #755
Hmm, this is not really a Fela thing here.
You should find all the information at [inline-style-prefixer](https://github.com/robinweser/inline-style-prefixer).

It supports custom builds with minimum browser versions. You might have to reimplement fela-plugin-prefixer, but it‘s literally just a one liner (just check the source).

Hope this helps, if not feel free to reopen the issue!

[2019-12-12 07:56] #755 closed

[2019-12-24 01:13] sushruth opened #757 "ThemeContext is exported from react-fela but type definitions do not show it"
**Type**: Bug / Feature / Infrastructure / Docs / Question

| Packages | Version |
| -------- | ------- |
| fela     | 6.0.x   |

-------------------
#### Description

`ThemeContext` is exported from react-fela but type definitions do not show it. ThemeContext must be declared as a valid export from `react-fela`.

#### Steps to reproduce

NA

#### Expected Behavior
NA

#### Actual Behavior
NA

[2020-01-10 14:38] lostpebble opened #758 "Could we squeeze more performance out of Fela?"
**Type**: Feature
-------------------

I've been thinking a bit about how Fela works in the background when you make use of `css(rules)` or `renderer.renderRule(rule)`

It seems like for every time Fela encounters that, it needs to run through the rule function again with the props - even though a lot of the time we are just re-using the same props. Couldn't we be squeezing more performance here?

[2020-01-21 10:50] lostpebble commented on #758
I've realized that my logic was unsound - because the cache fingerprint would of course have to rely on more than just the passed props - its the entire response of the function that's important.

The only way I see this working is with completely custom keys, and used in scenarios where it makes sense (as mentioned, where the rules are very complex).

I made a gist which does this for me: https:/

[2020-01-21 10:50] #758 closed

[2020-01-31 23:13] IgorBabkin opened #761 "Need to have ReactFela in UMD for external importing"
Is it possible to export `react-fela` in UMD format?

[2020-02-03 23:09] robinweser commented on #757
Feel free to send a PR adding types!
I'm not using TypeScript hence not interested in doing it myself :P

[2020-02-03 23:11] robinweser commented on #754
Let's discuss this over at Spectrum or WhatsApp in detail, but I'd love to see a working PR with that.
I lost track of the feature since I'm not actively using stream rendering at all.

[2020-02-04 14:28] robinweser commented on #761
If you'd be able to provide a PR doing that I'd be more than happy.
We had UMD builds years ago, but removed them due to build complexity and low interest in general.
I'm happy to help out if you get stuck!

[2020-02-05 10:26] jstorm31 opened #762 "FelaComponent missing style object for React Native"
**Type**: Question / Bug

I've noticed `FelaComponent` provides `className` prop to its children even though it is explicitly mentioned [in the docs](http://fela.js.org/docs/guides/UsageWithReactNative.html) to apply styles using `style` and not `className`. Is this intentional? It might be removed from the docs or fixed in `FelaComponent` then.

| Packages | Version |
| -------- | ------- |
| fel

[2020-02-06 07:44] robinweser commented on #762
Oh this is not intentional. It should pass `style` in React Native since `className` is web-only.
Would you mind sending a PR for that? Would really appreciate any help here!

[2020-02-06 14:40] jstorm31 commented on #762
Of course, I can do a PR! 🙂

[2020-02-12 14:13] #762 closed

[2020-02-19 09:10] robinweser opened #767 "Automate release process"
#### Description
In order to be able to release more frequently with less overhead, we'd like to further automate the release process.

## Release Process as of today

### In pull request:

- Decide if the change is major/minor/patch
- Update CHANGELOG.md
- Merge/rebase to master branch.

### On master branch:

- npm run release (covers pulling, QA and "website" update)

## Post Release Jobs:

- A

[2020-02-27 10:09] IgorBabkin commented on #465
@robinweser Any news? How to add media queries for `html`?

[2020-03-03 10:03] #761 closed

[2020-03-03 10:03] robinweser commented on #742
Implemented with #768 and released today (3.3.2020)

[2020-03-03 10:03] #742 closed

[2020-03-04 08:46] robinweser commented on #465
I'm still not sure if I want to add that at all. Fela is not about static styles and thus adding more complexity just for the sake of some DX/readability improvements is not really worth it in my eyes.

If you need some special media query styles you can always just pass a string e.g.
[code]

[2020-03-05 10:43] robinweser commented on #465
I'm actually going to close this as I want to keep it simple.

[2020-03-05 10:43] #465 closed

[2020-03-06 08:53] HugoGiraudel opened #770 "Animations are not properly rehydrated"
Hello Robin! 👋

**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 11.x   |

-------------------
#### Description

With SSR, when using 2 animations (one iso, one client-side only), the rehydration does not work properly and names end up being conflicting. That is, both animations will be named `k1`, resulting in a rendering issues.

[2020-03-06 09:40] TxHawks commented on #770
fela-dom's [rehydrate.js#L14-L74](https://github.com/robinweser/fela/blob/0c2eeff849b52c956ae8203e22c0fe26c4c0f2b6/packages/fela-dom/src/dom/rehydrate.js#L14-L74) is probably at fault. It simply doesn't cover keyframe animations, static rules and font declarations.

[2020-03-17 16:36] horaklukas opened #772 "Background-image property with inlined image removed without warning"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 10.8.2   |

-------------------
#### Description
I'm using base64 encoded image as background image, but every time I do it, it's removed from style without any warning or error in console.

My code looks like
[code]

I was curious why it is happening so 've deep dived into the fela packages and find out where is the problem

[2020-04-16 07:27] robinweser commented on #772
Woah, that's a coincidence here!
Lemme see how to work around that issue without removing the safety of null values.

[2020-04-16 07:31] #757 closed

[2020-04-16 07:32] #770 closed

[2020-04-16 07:39] #772 closed

[2020-04-16 07:44] horaklukas commented on #772
Wow that was quick, thanks a lot for your great job 👏

[2020-04-16 12:28] jancama2 opened #783 "Some browser specific css rules (-webkit*, -ms*, -moz*) not rendered"
**Type**: Bug
| Packages | Version |
| -------- | ------- |
| fela     | 11.2.0   |
| react-fela     | 11.2.0   |
| fela-monolithic     | 11.2.0   |
| fela-plugin-expand-shorthand    | 11.2.0   |
| fela-plugin-fallback-value     | 11.2.0   |
| fela-plugin-friendly-pseudo-class     | 11.2.0   |
| fela-plugin-named-keys     | 11.2.0   |
| fela-plugin-unit     | 11.2.0   |

-------------------
#### D

[2020-04-16 15:31] robinweser commented on #783
On which browser are you testing? Safari for example simply removes rules that are not supported (e.g. `-webkit-overflow-scrolling`) so this is not an issue with fela (since we don't care what property-value pair you pass, but it's actually you're browser throwing if an invalid rule render is attempted)

[2020-04-16 15:31] #783 closed

[2020-04-17 06:27] jancama2 commented on #783
I see, now it makes sense. Is this behaviour documented somewhere? Because I expected to see the rule rendered anyways and disabled by a browser. Maybe would be better to at least log an error into the console in the dev mode.

But thanks for help!

[2020-04-17 06:37] jancama2 commented on #783
Btw what is the validator plugin for then? I would expect it logging an error about not supported rule, but didn't log anything. My setup is :
[code]

[2020-04-17 08:44] robinweser commented on #783
So the rule is rendered in `devMode`, but won't in production. That's because we use `insertRule` in production and that's simply the way how `insertRule` works.
It'd probably show tons of warnings if we enabled that (e.g. Safari would log any other prefix than -webkit-). Tbh, I have never used the validator plugin myself, it was rather a community-driven plugin, but it's made to find your style i

[2020-04-17 10:57] jancama2 commented on #783
Hmm, right, devMode was the problem, I had it set to false 🤦. But thanks anyways, I've learned something new :D

[2020-04-17 15:06] robinweser commented on #783
You're welcome :) Might still be good to add that somewhere in the docs. One usually does not call `insertRule` manually from a product perspective, so most ppl won't know that!

[2020-04-17 15:07] robinweser opened #784 "Document insertRule validation"
-------------------
#### Description
We should document the way `insertRule` removes unsupported rules so people are not confused when not finding a rule that is part of a fela style. See #783

[2020-04-19 13:12] jjenzz opened #785 "React example doesn't appear to work"
I was hoping to give Fela (`v11.2.0`) a try so spun up the example from the README in a sandbox, but it doesn't work: https://codesandbox.io/s/fela-demo-udwmh

It seems to be something to do with the provider. I have tried both `FelaProvider` and just `Provider` without luck.

Any idea what I am doing wrong here? It would be really helpful to have a complete working sandbox example from the repo 🙏

[2020-04-20 09:09] robinweser commented on #785
Funny that no one ever found this before, the example was wrong it's `RendererProvider` not `FelaProvider`. See https://codesandbox.io/s/fela-demo-7tsj5

I updated the README accordingly.
Thanks for bringing this up and trying out Fela :)

[2020-04-20 09:09] #785 closed

[2020-04-24 08:33] HeroBanana opened #787 "Missing rehydrate and targetDocument prop in TypeScript."
Dear Robin,

I guess the typing is missing some props.

https://github.com/robinweser/fela/blob/97148419e7941dbd5867b35df6ac4de6c5ed3e55/packages/react-fela/index.d.ts#L34

https://github.com/robinweser/fela/blob/97148419e7941dbd5867b35df6ac4de6c5ed3e55/packages/react-fela/src/RendererProvider.js#L14

I would love to see support for the following:
[code]

[2020-04-24 09:20] robinweser commented on #787
Feel free to send a PR adding those :)

[2020-05-06 03:03] zerofront opened #788 "How can I renderRule between multiple ReactDom.render"
**Type**: Bug / Question

| Packages | Version |
| -------- | ------- |
| fela     | 11.2.x   |

-------------------
#### Description
I use RendererProvider、ThemeProvider 、themeContext、renderRule to build my components, It works well.

but when I want to render a component by calling `notice.open('some notice')`.
so I use `ReactDom.render(<Notice />, document.body)`

and I found renderRule return

[2020-05-16 15:51] jancama2 opened #789 "Fela shorthand expand with merge SSR"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela | 11.2.0 |
| react-fela |  11.2.0 |
| fela-monolithic | 11.2.0 |
| fela-plugin-extend | 11.2.0 |
| fela-plugin-expand-shorthand | 11.2.0 |
| fela-plugin-fallback-value | 11.2.0 |
| fela-plugin-named-keys | 11.2.0 |
| fela-plugin-unit | 11.2.0 |
| fela-plugin-validator | 11.2.0 |

-------------------
#### Description
When using `fe

[2020-05-16 15:58] jancama2 commented on #788
Not fela related issue, but an interesting one though. You are rendering a notice in a new react tree so there is no access to the `RendererProvider` and its renderer I guess. Use react portals to be able to render to a different node but stay in the same react tree or wrap the `<Notice />` with the provider.

[2020-06-04 09:40] HugoGiraudel commented on #789
Could I ask you to try with `fela-plugin-expand-shorthand@10.6.1`? It should list `inline-style-expand-shorthand@1.1.1` as a dependency in your lock file — **this is very important**, since there was a potential regression (which we failed to really reproduce) in `inline-style-expand-shorthand@1.2.0`.

Let us know if it yields the same result please, as this would help narrowing the problem down.

[2020-06-19 14:23] stephenh opened #791 "Emotion-style css prop support"
I'm currently using Emotion and really liking the API of their `css` prop, i.e.:

[code]

Which, for non-changing styles, just seems more direct (and more inline-markup-friendly) than fela-react's current "define a `const rule` + `useFela` hook + `css(rule)`" approach, although I get the current approach also makes more sense when you have complicated/large rule logic that you don't want inline an

[2020-06-20 19:05] sgrishchenko commented on #706
I think this problem is alreay soved, see [fela-plugin-typescript](https://github.com/robinweser/fela/tree/master/packages/fela-plugin-typescript), there is explanation there how to use this plugin to achive typechecking in nested css rules

[2020-06-22 07:45] #706 closed

[2020-06-23 08:16] robinweser commented on #791
Hey there!

So this is already possible, check out the `fe` jsx pragma: http://fela.js.org/docs/api/bindings/fe.html.
You're also able to replace it at an app level using webpack.

Also looking at the hook approach, you don't necessarily have to use a rule function, but can pass pure objects in all React bindings e.g.
[code]

Hope that helps!
Going to close this issue, feel free to reopen if it do

[2020-06-23 08:16] #791 closed

[2020-06-23 13:02] stephenh commented on #791
Oh no! I swear I looked in the docs. :grimacing: :-) Thank you!

[2020-06-23 19:33] stephenh commented on #791
@robinweser it looks like the `import { fe } from react-fela` doesn't work in TypeScript b/c the `fe` is not in the `.d.ts` typings; I assume this is probably not surprising? Is it okay to file a new issue about that? I might poke around at fixing, although it depends on how deep the rabbit trail goes.

[2020-06-24 09:25] robinweser commented on #791
I'd appreciate a PR to fix it since I'm not using TS myself and thus am not likely to fix that any time soon.

[2020-06-26 02:26] stephenh opened #793 "Support selectors with two ampersands"
While it's a bit odd, `.foo + .foo` is technically a valid selector.

In fela, if I use the `&` syntax to do this, i.e. `"& + &": { ... }`, the generated selectors is `.c + &`, i.e. only the 1st `&` got replaced with the class name and not the 2nd.

[2020-07-13 11:22] clodeindustrie opened #798 "Issue extending with several styles."
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 11.3.x0  |
| fela-plugin-extend | 11.3.0 |

-------------------
#### Description

When trying to use extend with several styles, the right class names are not generated.

#### Steps to reproduce

With a Simple React component below:

[code]

#### Expected Behavior

A div with a red color and an aqua or brown background-color

[2020-07-16 03:57] clodeindustrie commented on #798
Nervermind, I was loading the extend plugin last. I moved the `extend()` as the first plugin to load, now it work fine.

[2020-07-16 03:57] #798 closed

[2020-07-16 10:59] IgorBabkin opened #799 "Fela UMD does not work in IE11"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 11.2.x   |

-------------------
#### Description
IE11 complains for arrow functions

#### Proposal
Compile sources to ES5

[2020-08-10 08:14] #642 closed

[2020-08-10 08:14] #787 closed

[2020-08-10 08:15] robinweser commented on #788
I think @jancama2 correctly described the issue here. Will close this one, but feel free to reopen if you think it's still an issue.

[2020-08-10 08:15] #788 closed

[2020-08-10 08:16] robinweser commented on #799
Would you be open to send a PR changing the build scripts to ES5 output? I'm not that much into Webpack anymore and don't have the time to do that as I don't use the UMDs either.

[2020-08-10 09:42] IgorBabkin commented on #799
Sure!

On Mon, 10 Aug 2020 at 10:16, Robin Weser <notifications@github.com> wrote:

[2020-08-10 10:14] robinweser commented on #793
Heyhey,
Yep true, we only replace the first one as we want to keep the logic as simple as possible.
It's rather discouraged to use selectors at all in Fela as that's against its core principles.
You might be interested in https://github.com/robinweser/fela/tree/master/packages/fela-identifier which can help to solve that issue. It might look more complex at first (and pbly is), but that's the reco

[2020-08-10 13:53] stephenh commented on #793
Ah cool, thanks for that link. That "on parent hover, style a child" is a use case we'd come across / struggled with as well :-). The identifier approach looks nice, I'll keep that in mind...

[2020-11-04 14:30] lostpebble opened #816 "Conditional styling on body, html and other "global" document things"
**Type**: Feature

#### Description

There have been cases where, based on a selected theme or other app variable, I would like to change the css that is applied to the `html` or `body` tag. Or just all tags in general inside the document, with a root `* { }`.

Currently with Fela it doesn't seem this is possible. We only have `renderer.renderStatic()` to apply root document styles, but this is no

[2020-11-06 10:34] #784 closed

[2020-11-06 10:35] robinweser commented on #789
I'll close this for now, as it is an issue in `inline-style-expand-shorthand` rather than Fela itself.

[2020-11-06 10:35] #789 closed

[2020-11-06 10:36] robinweser commented on #337
Closing in favor of #754

[2020-11-06 10:36] #337 closed

[2020-11-06 10:37] robinweser commented on #542
I'm closing this since it's been stale for over 2 years and `useFela` is the new recommended way to use Fela with React.

[2020-11-06 10:37] #542 closed

[2020-11-06 10:40] robinweser commented on #615
Closing in favor of new docs coming soon

[2020-11-06 10:40] #615 closed

[2020-11-06 10:41] robinweser commented on #580
Closing since it's been stale for a long time.

[2020-11-06 10:41] #580 closed

[2020-11-06 10:45] robinweser commented on #816
I think this is somewhat related to https://github.com/robinweser/fela/issues/547.
We might want to create an enhancer that overwrites renderStatic that returns a `remove` function. Using that, we should be able to achieve to above-mentioned approach without having to deal with unique namespaces.

[2020-11-06 10:46] robinweser commented on #547
Closing this in favor of #816

[2020-11-06 10:46] #547 closed

[2020-11-06 18:29] lostpebble commented on #816
I think that could work as well. My reasoning for preferring a "namespace" in this is because its much easier to create and pass enums around than to keep track of subscriptions functions.

Just an important note, I don't actually want to "remove" these styles- I want to directly replace them. Removing them and then replacing them could have ramifications for rules like `transition`.

I suppose we

[2020-11-09 12:11] robinweser opened #817 "Remove devMode-specific DOM processes"
#### Description
Chrome finally resolved the CSS editing issue for rules added with `insertRule` thus we can remove the devMode-only DOM processes.

I'm not too sure about removing `devMode` completely, since the React-like bindings still use `devMode` to apply more readable displayNames. But, moving forward, we recommend using `useFela` in React apps and thus don't need the special displayNames a

[2020-12-05 12:59] robinweser commented on #793
Going to close this issue.
Have thought about it again and suddenly realized that the concept of ampersands doesn't make any sense in Fela since each property-value is rendered to a globally reused CSS class. Thus those ampersands cannot simply be replaced with a "specific" class name.

[2020-12-05 12:59] #793 closed

[2020-12-05 13:00] robinweser commented on #539
As this PR has been stale for over 2 years, I'm now going to close it. If anyone still wants to help write Hyperapp bindings, feel free to do so! I'm more than happy to help with the process.

[2020-12-05 13:00] #539 closed

[2020-12-05 14:26] #817 closed

[2020-12-05 15:25] stephenh commented on #793
Oh sure, that makes sense. Thanks!

[2020-12-09 10:53] robinweser opened #829 "Website Improvements"
With #818 being merged, we have a completely new website for Fela!

Now it's time to gradually improve it.
Here's a short list of things that would be nice-to-have:

- [ ] Intro
  - [ ] Performance
- [ ] Recipes
  - [ ] Extending Components
  - [ ] Testing Components -> add fela-monolithic
- [ ] Resources Page
- [ ] Redesign Landing Page

[2020-12-09 10:56] #723 closed

[2020-12-09 15:18] robinweser opened #830 "fela-enforce-longhands level-2 borders"
-------------------
#### Description
This is a follow-up issue for #827.
We want to have an option to choose whether directional or "level 2" longhands are prioritized for borders (e.g. border-left vs. border-width). This could be achieved by setting their priorities to 2 and 3 while level 3 longhands get a priority of 4.

[2020-12-16 11:15] Him-2C opened #835 "Could you upgrade csstype version ?"
**Bug / Feature**

 Csstype in Fela and Fela-Plugin-Typescript are using csstype version 2, so this version not good typescript autocomplete
For example display, flex and etc.

Could you upgrade csstype version? Is perfect if you can.

| Packages | Version |
| -------- | ------- |
| fela     | 11.5.0   |

- csstype 2
![image](https://user-images.githubusercontent.com/30730045/102341169-05e88400-3f

[2020-12-16 11:24] robinweser commented on #835
Feel free to do that yourself :)
Should be as easy as updating the version and submitting a pull request, can even be done on GitHub directly.

I don‘t use TypeScript and thus have no priority for that

[2020-12-16 13:32] robinweser commented on #835
The line that needs to be changed can be found here: https://github.com/robinweser/fela/blob/master/packages/fela/package.json#L40

[2020-12-16 14:19] Him-2C commented on #835
@robinweser  Thank you very much.

[2020-12-16 19:22] alanhogan opened #840 "Upgrade ua-parser-js to 0.7.23"
**Type**: Bug

| Packages | Version |
| -------- | ------- |
| fela     | 11.0.0   |
| react-fela     | 11.0.0   |

-------------------
#### Description
A regex DOS attack exists for ua-parser-js 0.7.22. Consider requiring 0.7.23 for fela-bindings, which is used by react-fela and possibly other packages.

Not so much as a bug as a security advisory
https://snyk.io/vuln/SNYK-JS-UAPARSERJS-1023599